<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="definitionSect">
  <h2 class="navbar-top">
    {{>navbar}}
    <a class="clickable glyphicon glyphicon-cloud-upload pull-right" aria-hidden="true" on-click="add()" title="Upload new BPMN"></a>
  </h2>
  <div id="upload" style="display:none">
    <form action="/{{tenant.id}}/deployments" class="well form form-inline" enctype="multipart/form-data" id="uploadForm" method="post">
        <fieldset>
          <div class="form-group">
            <label for="deploymentName">Deployment Name</label>
            <input id="resourceFile" multiple="multiple" name="resourceFile" style="display: none" type="file">
            <input name="tenantId" id="tenantId" type="hidden" value="{{tenant.id}}">
            <input class="form-control" name="deploymentName" id="deploymentName" placeholder="my process application">
            <button class="btn btn-primary" on-click="addDeploymentResource()" type="button">Select Files</button>
          </div>
          <div class="pull-right">
            <button class="btn" on-click="collapseAdd()" type="button">Cancel</button>
            <button class="btn" on-click="upload('uploadForm')" type="button">Upload</button>
          </div>
        </fieldset>
      </form>
  </div>
  {{>designerSect}}
  <table id="definitionsTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th class="col-md-2" on-click="sort:name">Name<span class="sortable {{ sorted('name') }} glyphicon "></th>
        <th class="col-md-2" on-click="sort:description">Description<span class="sortable {{ sorted('description') }} glyphicon "></th>
        <th class="col-md-2" on-click="sort:category">Category<span class="sortable {{ sorted('category') }} glyphicon "></th>
        <th on-click="sort:deploymentId">Deployment Bundle<span class="sortable {{ sorted('deploymentId') }} glyphicon "></th>
        <th on-click="sort:version">Version<span class="sortable {{ sorted('version') }} glyphicon "></th>
        <th class="col-md-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each sort(definitions,sortColumn,sortAsc):i}}
        {{# matchSearch(this) }}
        <tr data-href="{{_links.self.href}}">
          <td on-click="select(this)">{{i+1}}</td>
          <td on-click="select(this)">{{name}} {{#key}}({{key}}){{/}}</td>
          <!-- <td on-click="select(this)">
            <img class="col-md-1" src="/{{tenant.id}}/process-definitions/{{id}}.svg"/>
          </td>-->
          <td class="col-md-5" on-click="select(this)">{{description}}</td>
          <td on-click="select(this)">{{category}}</td>
          <td on-click="select(this)">{{deploymentId}}</td>
          <td on-click="select(this)">{{version}}</td>
          <td>
            {{#deploymentId}}
              {{#suspended}}
                <a class="glyphicon glyphicon-pause" aria-hidden="true" onclick="ractive.activate('{{id}}')" title="Activate"></a>
              {{else}}
                <a class="glyphicon glyphicon-play" aria-hidden="true" onclick="ractive.startInstance('{{key}}', '{{name}}', '{{username}}')" title="Start instance"></a>
                <a class="glyphicon glyphicon-pause" aria-hidden="true" onclick="ractive.suspend('{{id}}')" title="Suspend"></a>
              {{/}}
            {{/}}
            <a href="/{{tenant.id}}/process-definitions/{{id}}.bpmn" target="_newtab">
              <a class="glyphicon glyphicon-cloud-download" aria-hidden="true"></a></a>
            <a href="/{{tenant.id}}/process-definitions/{{id}}.svg" target="_newtab">
              <a class="glyphicon glyphicon-picture" aria-hidden="true"></a></a>
            {{#deploymentId}}
              <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this.deploymentId)" title="Delete this definition"></a>
            {{/}}
            {{^deploymentId}}
              <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this.id)" title="Delete this definition"></a>
            {{/}}
          </td>
        </tr>
        {{/}}
      {{/each}}
    </tbody>
  </table>
</section>