<section id="currentSect" style="display:none">
  <h2>
    <span>{{current.name}}</span>
    <div class="pull-right">
      <a class="clickable glyphicon glyphicon-play" aria-hidden="true" onclick="ractive.startInstance('{{current.key}}', '{{current.name}}', '{{username}}')" title="Start new instance"></a>
      <a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" onclick="ractive.fetchInstances()" title="Refresh instance list"></a>
      <a class="glyphicon glyphicon-cloud-download" href="/{{tenant.id}}/process-definitions/{{current.id}}.bpmn" target="_newtab" title="Download the BPMN representation of the process"></a>
      <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete({{current.deploymentId}})" title="Delete this definition"></a>
    </div>          
  </h2>
  <p>{{current.description}}</p>
  <p>
    <span class="a-primary-label control-label">{{current.deployment.name}}: </span>
    <span class="a-primary-data control-label">{{activityType.toLabel()}}</span>
    <span class="a-secondary-label control-label">Id: </span> {{current.id}};
    <span class="a-secondary-label control-label">Deployment Id: </span> {{current.deploymentId}};
    <span class="a-secondary-label control-label">Deployed: </span> {{formatDateTime(current.deployment.deploymentTime)}};
    {{#if current.deployment.category}}
      <span class="a-secondary-label control-label">Category: </span> {{current.deployment.category}};
    {{/if current.deployment.category}} 
  </p>
  {{#if current.id}}
    <img src="/{{tenant.id}}/process-definitions/{{current.id}}.png"/>
  {{/if current.id}}
  <h3>Instances</h3>
  {{#each current.instances:i}}
    <section>
      <span class="a-primary-label control-label">Name: </span>
      <span class="a-primary-data">{{current.instances[i].businessKey == undefined ? 'N/A' : current.instances[i].businessKey}}</span>
      {{#if hasRole('admin') }}
        <span class="a-secondary-label control-label">Id: </span>
        <span class="a-secondary-data">{{current.instances[i].id}};</span>
      {{/if}}
      <span class="a-secondary-label control-label">Complete?: </span>
      <span class="a-secondary-data">{{current.instances[i].ended ? 'Yes' : 'No'}};</span>
      {{# !current.instances[i].ended}}
        <span class="a-secondary-label control-label">Current task: </span>
        <span class="a-secondary-data">{{current.instances[i].activityId.toLabel()}};</span>
      {{/}}
      <button class="btn btn-details" on-click="toggleAuditTrail(current.instances[i],i)" type="button">View Details</button>
      <section data-instanceId="{{current.instances[i].id}}" style="display:none">
        <h4> {{current.instances[i].businessKey == undefined ? 'Instance '+current.instances[i].id : current.instances[i].businessKey+' ('+current.instances[i].id+')' }}
          <!--<span>Click to delete (cannot be undone!)</span>
          <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteInstance(current.instances[i],i)"></a>-->
        </h4>
        <h5>Latest Data</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th class="col-truncate">Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#each current.instances[i].processVariableNames:j}}
              <tr data-href="{{_links.self.href}}">
                <td>{{j+1}}</td>
                <td>{{current.instances[i].processVariableNames[j]}}</td>
                <td>{{(JSON.stringify(current.instances[i].processVariables[current.instances[i].processVariableNames[j]]))}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table> 
        <h5>History</h5> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Type</th>
              <th class="col-truncate">Event</th>
              <th>Started</th>
              <th>Ended</th>
              <th>Duration</th>
              <!-- TODO Always empty? <th>Actioned by</th>-->
            </tr>
          </thead>
          <tbody>
            {{#each current.instances[i].auditTrail:j}}
              <tr data-href="{{_links.self.href}}">
                <td>{{j+1}}</td>
                <td>{{activityType.toLabel()}}</td>
                <td>{{activityName}}</td>
                <td>{{formatDateTime(startTime)}}</td>
                <td>{{formatDateTime(endTime)}}</td>
                <td>{{endTime == undefined ? '' : duration(durationInMillis)}}</td>
                <!-- TODO Always empty? td>{{assignee}}</td>-->
              </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
    </section><!-- /List of events -->
  {{/each}}
</section>
