<section id="currentSect" style="display:none">
  <h2>
    <span>{{current.name}}</span>
    <span class="pull-right">
      <a class="glyphicon glyphicon-btn glyphicon-eye-close details-control" on-click="toggleDetails()" title="Toggle internal and developer details"></a>
      {{#current.deploymentId}}
        {{#current.suspended}}
          <a class="glyphicon glyphicon-btn glyphicon-pause" aria-hidden="true" onclick="ractive.activate('{{current.id}}')" title="Activate"></a>
        {{else}}
          <a class="glyphicon glyphicon-btn glyphicon-play" aria-hidden="true" onclick="ractive.startInstance('{{current.id}}', '{{current.name}}', '{{username}}')" title="Start instance"></a>
          <a class="glyphicon glyphicon-btn glyphicon-pause" aria-hidden="true" onclick="ractive.suspend('{{current.id}}')" title="Suspend"></a>
        {{/}}
      {{/}}
      <a class="glyphicon glyphicon-btn glyphicon-cloud-download" href="#" on-click="download()" title="Download the BPMN representation of the process"></a>
      {{#current.deploymentId}}
        <a class="clickable glyphicon glyphicon-btn glyphicon-remove" aria-hidden="true" onclick="ractive.delete({{current.deploymentId}})" title="Delete this definition"></a>
      {{/}}
      {{^current.deploymentId}}
        <a class="clickable glyphicon glyphicon-btn glyphicon-remove" aria-hidden="true" onclick="ractive.delete('{{current.id}}')" title="Delete this definition"></a>
      {{/}}
    </span>
  </h2>
  <p>{{current.description}}</p>
  <table class="table">
    <thead>
      <tr>
        {{#if showDetails}}<th>Id</th>{{/if}}
        {{#current.category}}<th>Category</th>{{/}}
        {{#current.deployment.deploymentTime}}<th>Deployed At</th>{{/}}
        {{#if showDetails}}<th>Hash</th>{{/if}}
        {{#if showDetails}}<th>Deployment Id</th>{{/if}}
        {{#current.deployment.name}}<th>Deployment</th>{{/}}
        <th>Active?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#if showDetails}}<td>{{current.id}}</td>{{/if}}
        {{#current.category}}<td>{{current.category}}</td>{{/}}
        {{#current.deployment.deploymentTime}}<td>{{formatDateTime(current.deployment.deploymentTime)}}</td>{{/}}
        {{#if showDetails}}<td>{{current.md5Hash}};</td>{{/if}}
        {{#if showDetails}}{{#current.deploymentId}}<td>{{current.deploymentId}}</td>{{else}}<td>Incomplete model cannot be run</td>{{/}}{{/if}}
        {{#current.deployment.name}}<td>{{current.deployment.name}}</td>{{/}}
        <td>{{!current.suspended}}</td>
      </tr>
    </tbody>
  </table>
  {{#if showDetails && current.messageNames}}
    <ul>
      <li><a href="{{context}}/{{tenant.id}}/messages/{{.}}.html">API for {{.}}</a></li>
    </ul>
  {{/if}}
  {{#if current.id}}
    {{# current.diagrams:i}}
      <section id="{{current.diagrams[i].id}}Sect">
        <h3>
          <span class="ol-collapse glyphicon glyphicon-btn glyphicon-triangle-right" onclick="ractive.toggleSection($(this).closest('section'))"></span>
          <span>Diagram: {{current.diagrams[i].name}}</span>
          <a class="glyphicon glyphicon-btn glyphicon-picture pull-right" href="#" on-click="downloadImage(current.diagrams[i].id)" target="_blank" title="Image of process diagram '{{current.diagrams[i].name}}'"></a>
          <!--a class="glyphicon glyphicon-btn glyphicon-zoom-in pull-right" title="Zoom in diagram '{{current.diagrams[i].name}}'"></a>
          <a class="glyphicon glyphicon-btn glyphicon-zoom-out pull-right" title="Zoom out process diagram '{{current.diagrams[i].name}}'"></a-->
        </h3>
        <div style="display:none">
          <div class="bpmnDiagram">{{{current.diagrams[i].image}}}</div>
          {{#if selectedBpmnObject}}
            <h4>
              <span>Properties</span>
            </h4>
            <table id="propertiesTable" class="table">
              <thead>
                <tr>
                  {{#if hasRole('admin') && showDetails}}<th class="a-secondary-label control-label">Id</th>{{/if}}
                  <th class="a-secondary-label control-label">Name</th>
                  <th class="a-secondary-label control-label">Type</th>
                  <th class="a-secondary-label control-label">{{selectedBpmnObject.element.localName.toLabel()}} Definition</th>
                  <!--th>Actions</th-->
                </tr>
              </thead>
              <tbody>
                <tr>
                  {{#if hasRole('admin') && showDetails}}<td class="col-md-1">{{selectedBpmnObject.id}}</td>{{/if}}
                  <td class="col-md-2">{{# current.bpmn.querySelector('[id="'+selectedBpmnObject.id+'"]').getAttribute('name') }}{{ current.bpmn.querySelector('[id="'+selectedBpmnObject.id+'"]').getAttribute('name') }} {{else}} n/a {{/}}</td>
                  <td class="col-md-2">
                    {{#current.bpmn.querySelector('[id="'+selectedBpmnObject.id+'"]').getAttribute('activiti:async')}}Asynchronous<br/>{{/}}
                    {{selectedBpmnObject.type.toLabel()}}
                    {{# selectedBpmnObject.type=='Service Task'}}
                       <br/>{{current.bpmn.querySelector('[id="'+selectedBpmnObject.id+'"]').getAttribute('activiti:class').substring(current.bpmn.querySelector('[id="'+selectedBpmnObject.id+'"]').getAttribute('activiti:class').lastIndexOf('.')+1).toLabel()}}
                    {{/}}
                  </td>
                  <td class="col-md-8">
                    {{#if selectedBpmnObject.element.localName == 'boundaryEvent' && selectedBpmnObject.element.querySelectorAll('timerEventDefinition').length>0}}
                      {{#selectedBpmnObject.timerCycle}}<label>Timer Cycle: </label>{{selectedBpmnObject.timerCycle}}{{/}}
                      {{#selectedBpmnObject.timerDate}}<label>Timer Date: </label>{{selectedBpmnObject.timerDate}}{{/}}
                      {{#selectedBpmnObject.timerDuration}}<label>Timer Duration: </label>{{selectedBpmnObject.timerDuration}}{{/}}
                    {{elseif selectedBpmnObject.element.localName == 'callActivity'}}
                      <label>Sub-Process: </label> {{selectedBpmnObject.element.getAttribute('calledElement')}}
                    {{elseif selectedBpmnObject.element.localName == 'dataStoreReference'}}
                      <label>Data Store: </label> {{current.bpmn.querySelectorAll('dataStore[id="'+selectedBpmnObject.element.getAttribute('dataStoreRef')+'"]')[0].getAttribute('name')}}<br/>
                      <label>Type: </label> {{ current.bpmn.querySelectorAll('itemDefinition[id="'+current.bpmn.querySelectorAll('dataStore[id="'+selectedBpmnObject.element.getAttribute('dataStoreRef')+'"]')[0].getAttribute('itemSubjectRef')+'"]')[0].getAttribute('structureRef') }}<br/>
                      <label>Capacity: </label>
                        {{#if current.bpmn.querySelectorAll('dataStore[id="'+selectedBpmnObject.element.getAttribute('dataStoreRef')+'"]')[0].getAttribute('isUnlimited') && current.bpmn.querySelectorAll('dataStore[id="'+selectedBpmnObject.element.getAttribute('dataStoreRef')+'"]')[0].getAttribute('isUnlimited')=='true'}}
                          unlimited
                        {{else}}
                          {{current.bpmn.querySelectorAll('dataStore[id="'+selectedBpmnObject.element.getAttribute('dataStoreRef')+'"]')[0].getAttribute('capacity')}}
                        {{/if}}
                    {{elseif selectedBpmnObject.element.localName.indexOf('Event')!=-1 && selectedBpmnObject.element.querySelectorAll('messageEventDefinition').length>0}}
                      <label>Message: </label> {{current.bpmn.querySelectorAll('message[id="'+selectedBpmnObject.element.querySelectorAll('messageEventDefinition')[0].getAttribute('messageRef')+'"]')[0].getAttribute('name')}}<br/>
                    {{elseif selectedBpmnObject.element.localName.indexOf('Event')!=-1 && selectedBpmnObject.element.querySelectorAll('signalEventDefinition').length>0}}
                      <label>Signal: </label> {{current.bpmn.querySelectorAll('signal[id="'+selectedBpmnObject.element.querySelectorAll('signalEventDefinition')[0].getAttribute('signalRef')+'"]')[0].getAttribute('name')}}<br/>
                    {{elseif selectedBpmnObject.element.localName == 'scriptTask'}}
                      <pre>{{selectedBpmnObject.script}}</pre>
                    {{elseif selectedBpmnObject.element.localName == 'sequenceFlow' && selectedBpmnObject.element.querySelectorAll('conditionExpression').length>0}}
                      <pre>{{selectedBpmnObject.condition}}</pre>
                    {{elseif (selectedBpmnObject.element.localName == 'userTask' || selectedBpmnObject.element.localName == 'manualTask')}}
                      {{#selectedBpmnObject.element.getAttribute('activiti:assignee')!=undefined}}<label>Assign to: </label>{{selectedBpmnObject.element.getAttribute('activiti:assignee')}}<br/>{{/}}
                      {{#selectedBpmnObject.element.getAttribute('activiti:candidateUsers')!=undefined}}<label>Offer to user: </label>{{selectedBpmnObject.element.getAttribute('activiti:candidateUsers')}}<br/>{{/}}
                      {{#selectedBpmnObject.element.getAttribute('activiti:candidateGroups')!=undefined}}<label>Offer to group: </label>{{selectedBpmnObject.element.getAttribute('activiti:candidateGroups')}}<br/>{{/}}
                      {{#selectedBpmnObject.element.querySelectorAll('resourceRef').length>0}}<label>Offer to: </label>{{current.bpmn.querySelectorAll('resource[id="'+selectedBpmnObject.element.querySelectorAll('resourceRef')[0].textContent+'"]')[0].getAttribute('name')}}<br/>{{/}}
                      {{#selectedBpmnObject.element.querySelectorAll('formalExpression').length>0}}<label>Offer to: </label>{{selectedBpmnObject.element.querySelectorAll('formalExpression')[0].textContent}}<br/>{{/}}
                    {{/if}}
                    {{#if selectedBpmnObject.extensionDetails }}{{{selectedBpmnObject.extensionDetails}}}{{/if}}
                  </td>
                  <!--td>&nbsp;</td-->
                </tr>
              </tbody>
            </table>
          {{/if}}
        </div>
      </section>
    {{/}}
  {{#current.deploymentId}}
    {{>instanceListSect}}
  {{/}}
  {{^current.deploymentId}}
    <section style="margin-bottom: 2px;">
      <span class="glyphicon glyphicon-btn glyphicon-warning-sign pull-right" on-click="showIssues()" style="position:relative;top:-12px;"></span>
      <h3>Items to be completed</h3>
      <p>To be eligible for execution these parts of the model need to be completed.</p>
      <table>
        <thead></thead>
        <tbody>
          {{#current.issues:i}}
            <tr>
              <td><a href="#{{modelRef}}" data-ref="{{modelRef}}">{{i+1}}</a></td>
              <!-- <td class="col-md-1">{{level}}</td> -->
              <td>{{description}}</td>
            </tr>
          {{/}}
        </tbody>
      </table>
    </section><!-- /List of items to complete -->
  {{/}}  {{/if current.id}}

</section>
