<a id="definitionsTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the definition table"></a>
<span>Definitions</span>
<a class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addProcess()" title="Add a new process"></a>
<a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching process definitions"></a>