<section id="currentSect" style="display:none">
  <h2>
    <span>{{current.name}}</span>
    <div class="pull-right">
      {{#current.deploymentId}}
        {{#current.suspended}}
          <a class="glyphicon glyphicon-pause" aria-hidden="true" onclick="ractive.activate('{{current.id}}')" title="Activate"></a>
        {{else}}
          <a class="glyphicon glyphicon-play" aria-hidden="true" onclick="ractive.startInstance('{{current.id}}', '{{current.name}}', '{{username}}')" title="Start instance"></a>
          <a class="glyphicon glyphicon-pause" aria-hidden="true" onclick="ractive.suspend('{{current.id}}')" title="Suspend"></a>
        {{/}}
      {{/}}
      <a class="glyphicon glyphicon-cloud-download" href="{{context}}/{{tenant.id}}/process-definitions/{{current.id}}.bpmn" target="bpmn" title="Download the BPMN representation of the process"></a>
      {{#current.deploymentId}}
        <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete({{current.deploymentId}})" title="Delete this definition"></a>
      {{/}}
      {{^current.deploymentId}}
        <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete('{{current.id}}')" title="Delete this definition"></a>
      {{/}}
    </div>          
  </h2>
  <p>{{current.description}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        {{#current.category}}<th>Category</th>{{/}}
        {{#current.deployment.deploymentTime}}<th>Deployed At</th>{{/}}
        <th>Hash</th>
        <th>Deployment Id</th>
        {{#current.deployment.name}}<th>Deployment</th>{{/}}
        <th>Active?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{current.id}}</td>
        {{#current.category}}<td>{{current.category}}</td>{{/}}
        {{#current.deployment.deploymentTime}}<td>{{formatDateTime(current.deployment.deploymentTime)}}</td>{{/}}
        <td>{{current.md5Hash}};</td>
        {{#current.deploymentId}}<td>{{current.deploymentId}}</td>{{else}}<td>Incomplete model cannot be run</td>{{/}}
        {{#current.deployment.name}}<td>{{current.deployment.name}}</td>{{/}}
        <td>{{!current.suspended}}</td>
      </tr>
    </tbody>
  </table>
  {{#current.messageNames}}
    <ul>
      <li><a href="{{context}}/{{tenant.id}}/messages/{{.}}.html">API for {{.}}</a></li>
    </ul>
  {{/}}
  {{#if current.id}}
    {{# current.diagrams:i}}
      <h3>Diagram: {{current.diagrams[i].name}}</h3>
      <div class="bpmnDiagram">{{{current.diagrams[i].image}}}</div>
      {{#if selectedBpmnObject}}
        <h3>
          <span>Properties</span>
        </h3>
        <table id="propertiesTable" style="width:100%">
          <thead>
            <tr>
              {{#if hasRole('admin') }}<th class="a-secondary-label control-label">Id</th>{{/if}}
              <th class="a-secondary-label control-label">Name</th>
              <th class="a-secondary-label control-label">Type</th>
              {{#selectedBpmnObject.calledElement}}<th class="a-secondary-label control-label">Calls</th>{{/}}
              {{#selectedBpmnObject.condition}}<th class="a-secondary-label control-label">Condition</th>{{/}}
              {{#selectedBpmnObject.resource}}<th class="a-secondary-label control-label">Resource</th>{{/}}
              {{#selectedBpmnObject.script}}<th class="a-secondary-label control-label">Script</th>{{/}}
              {{#selectedBpmnObject.serviceType}}<th class="a-secondary-label control-label">Service Type</th>{{/}}
              {{#selectedBpmnObject.timerCycle}}<th class="a-secondary-label control-label">Timer Cycle</th>{{/}}
              {{#selectedBpmnObject.timerDate}}<th class="a-secondary-label control-label">Timer Date</th>{{/}}
              {{#selectedBpmnObject.timerDuration}}<th class="a-secondary-label control-label">Timer Duration</th>{{/}}
              <!--th>Actions</th-->
            </tr>
          </thead>
          <tbody>
            <tr>
              {{#if hasRole('admin') }}<td class="col-md-1">{{selectedBpmnObject.id}}</td>{{/if}}
              <td class="col-md-1">{{#selectedBpmnObject.name}}{{selectedBpmnObject.name}}{{else}}n/a{{/}}</td>
              <td class="col-md-1">{{selectedBpmnObject.type}}</td>
              {{#selectedBpmnObject.calledElement}}<td class="col-md-1">{{selectedBpmnObject.calledElement}}</td>{{/}}
              {{#selectedBpmnObject.condition}}<td class="col-md-1">{{selectedBpmnObject.condition}}</td>{{/}}
              {{#selectedBpmnObject.resource}}<td class="col-md-1">{{selectedBpmnObject.resource}}</td>{{/}}
              {{#selectedBpmnObject.script}}<td class="col-md-4"><pre>{{selectedBpmnObject.script}}</pre></td>{{/}}
              {{#selectedBpmnObject.serviceType}}<td class="col-md-1">{{selectedBpmnObject.serviceType}}</td>{{/}}
              {{#selectedBpmnObject.timerCycle}}<td class="col-md-1">{{selectedBpmnObject.timerCycle}}</td>{{/}}
              {{#selectedBpmnObject.timerDate}}<td class="col-md-1">{{selectedBpmnObject.timerDate}}</td>{{/}}
              {{#selectedBpmnObject.timerDuration}}<td class="col-md-1">{{selectedBpmnObject.timerDuration}}</td>{{/}}
              <!--td>&nbsp;</td-->
            </tr>
          </tbody>
        </table>
      {{/if}}
    {{/}}
  {{/if current.id}}
  {{#current.deploymentId}}
    {{>instanceListSect}}
  {{/}}
  {{^current.deploymentId}}
    <section style="margin-bottom: 2px;">
      <span class="glyphicon glyphicon-warning-sign pull-right" on-click="showIssues()" style="position:relative;top:-12px;"></span>
      <h3>Items to be completed</h3>
      <p>To be eligible for execution these parts of the model need to be completed.</p>
      <table>
        <thead></thead>
        <tbody>
          {{#current.issues:i}}
            <tr>
              <td><a href="#{{modelRef}}">{{i+1}}</a></td>
              <!-- <td class="col-md-1">{{level}}</td> -->
              <td>{{description}}</td>
            </tr>
          {{/}}
        </tbody>
      </table>
    </section><!-- /List of items to complete -->
  {{/}}
</section>
