<a id="definitionsTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the definition table"></a>
<span>Definitions</span>
<a class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addProcess()" title="Add a new process"></a>
<a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching process definitions"></a>
<a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <a class="clickable glyphicon glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
  </a>
  <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
    <li on-click="search()">Show All</li>
    <li on-click="search('version:latest')">Latest Only</li>
    <li class="divider"></li>
    <li on-click="search('category:custmgmt')">Contact</li>
    <li on-click="search('category:catalog')">Stock & Orders</li>
    <li on-click="search('category:support')">Support</li>
    <li on-click="search('category:website')">Web</li>
    <li on-click="search('category:workmgmt')">Work</li>
    <li class="divider"></li>
    <li onclick="ractive.search('category:{{tenant.id}}')">{{tenant.id.toLabel()}} extensions</li>
  </ul>
</a>