<section style="clear:both">
  <h3>Data</h3>
  <form class="inline-form form" id="currentForm">
    <ul class="form edit-form" style="">
      {{#current.formProperties:i}}
        <li class="form-group">
          {{# renderAs(.) == 'enum' }} {{> enumCtrl }} {{/}}
          {{# renderAs(.) == 'image' }} {{> imageCtrl }} {{/}}
          {{# renderAs(.) == 'json' }} {{> jsonCtrl { id: ..id, name: ..name, obj: JSON.parse(..value), keys: keys(JSON.parse(..value)) } }} {{/}}
          {{# renderAs(.) == 'link' }} {{> linkCtrl }} {{/}}
          {{# renderAs(.) == 'default' }} {{> defaultCtrl }} {{/}}
        </li>
      {{/}}
    </ul>
  </form>
</section>

<section class="variables" style="display:none">
  <h3>Local Variables</h3>
  <ul class="form edit-form" style="">
    {{#current.taskLocalVarNames:i}}
      <li>{{i}} {{formatLabel(.)}} {{current.taskLocalVariables[.]}}</li>
    {{/current.taskLocalVarNames}}
  </ul>

  <h3>Process Variables</h3>
  <ul class="form edit-form" style="">
    {{#current.processVarNames:i}}
      <li>{{i}} {{formatLabel(.)}}
        {{ typeof current.processVariables[.] == 'object' ? JSON.stringify(current.processVariables[.]) : current.processVariables[.] }}
      </li>
    {{/current.processVarNames}}
  </ul>
</section>
