<ul class="form edit-form">
  <li class="form-group">
    <label class="col-md-4 col-sm-4" for="curFirstName">First Name: </label>
    <input class="form-control col-md-8 col-sm-8" id="curFirstName" placeholder="First name" required value="{{instanceToStart.processVariables['firstName']}}"/>
    <p class="help-block field-hint field-error">Please provide the user's first name</p>
  </li>
  <li class="form-group">
    <label class="col-md-4 col-sm-4" for="curLastName">Last Name: </label>
    <input class="form-control col-md-8 col-sm-8" id="curLastName" placeholder="Last or family name" required value="{{instanceToStart.processVariables['lastName']}}"/>
    <p class="help-block field-hint field-error">Please provide the user's last name</p>
  </li>
  <li class="form-group">
    <label class="col-md-4 col-sm-4" for="curEmail">Email: </label>
    <input class="form-control col-md-8 col-sm-8" id="curEmail" placeholder="Email address of the new user" type="email" value="{{instanceToStart.processVariables['email']}}"/>
    <p class="help-block field-hint field-error">Please provide the user's email</p>
  </li>
  <li class="curPhone1">
    <label class="col-md-4 col-sm-4" for="what">Phone: </label>
    <input class="form-control col-md-8 col-sm-8" id="curPhone1" placeholder="Best contact number for the new user" value="{{instanceToStart.processVariables['phone1']}}"/>
    <p class="help-block field-hint field-error">Please provide the best number to contact the user on</p>
  </li>
  <li class="form-group">
    <label class="col-md-4 col-sm-4" for="what">Tenant: </label>
    <input class="form-control col-md-8 col-sm-8" id="tenantId" placeholder="Tenant this user should have access too" value="{{instanceToStart.processVariables['tenantId']}}"/>
    <p class="help-block field-hint field-error">Please specify the tenanit id, for example 'omny'</p>
  </li>
</ul>
