<table id="tasksTable" class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th on-click="sort:businessKey">From / Regarding<span class="sortable {{ sorted('businessKey') }} glyphicon"></th>
      <th class="col-truncate" on-click="sort:name">Task<span class="sortable {{ sorted('name') }} glyphicon"></th>
      <th on-click="sort:createTime">Created<span class="sortable {{ sorted('createTime') }} glyphicon"></th>
      <th on-click="sort:taskLocalVariables['deferUntil'])">Deferred Until<span class="sortable {{ sorted('taskLocalVariables["deferUntil"]') }} glyphicon"></th>
      <th on-click="sort:dueDate">Due<span class="sortable {{ sorted('dueDate') }} glyphicon"></th>
      <!--th class="col-truncate" style="width: 400px;">Description</th-->
      <th on-click="sort:assignee">Assigned<span class="sortable {{ sorted('assignee') }} glyphicon"></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each sort(xTasks,sortColumn,sortAsc):i}}
    {{# !matchPage('work.html') || (matchSearch(this) && matchFilter(this,i)) }}
    <tr class="{{renderPriority(this)}}" data-href="{{_links.self.href}}">
      <td on-click="edit(this)">{{i+1}}</td>
      <td on-click="edit(this)">{{businessKey}}</td>
      <td on-click="edit(this)">{{name == null ? taskDefinitionKey.toLabel() : name}}</td>
      <td on-click="edit(this)">{{formatDate(createTime)}}</td>
      <td on-click="edit(this)">{{formatDate(taskLocalVariables['deferUntil'])}}</td>
      <td on-click="edit(this)">{{formatDate(dueDate)}}</td>
      <!--td on-click="edit(this)">{{description}}</td-->
      <td on-click="edit(this)">{{assignee==null ? 'No' : 'Yes'}}</td>
      <td>
        {{# matchPage('work.html')}}
          <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" on-click="edit(this)"></a>
        {{/}}
        {{# !matchPage('work.html')}}
          <a class="clickable glyphicon glyphicon-new-window" aria-hidden="true" href="work.html?id={{id}}" target="_blank"></a>
        {{/}}
      </td>
    </tr>
    {{/}}
  {{/each}}
  </tbody>
</table>