<section id="currentSect" style="display:none">
  <h2>
    {{#current.id == profile.id}}Welcome!{{else}}User:{{/}}
    {{current.firstName}} {{current.lastName}} ({{current.id}})
    <span class="pull-right">
      {{#matchRole('admin')}}
        <a class="clickable glyphicon glyphicon-btn glyphicon-remove" aria-hidden="true" on-click="delete(current.selfRef)" title="Delete this user"></a>
      {{/}}
    </span>
  </h2>
  <div class="form col-md-12 col-sm-12">
  <div class="currentBody col-md-6 col-sm-12">
    <form id="userForm">
      <ul class="form edit-form">
        <li class="form-group">
          <label class="col-md-4 col-sm-4 required">{{#tenant.strings.email}}{{tenant.strings.email}}{{else}}Email{{/}}:</label>
          <input class="no-update-field form-control" id="curEmail" required type="email" value="{{current.email}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">No update allowed</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4 required">{{#tenant.strings.firstName}}{{tenant.strings.firstName}}{{else}}First Name:{{/}}</label>
          <input class="form-control" id="curFirstName" required value="{{current.firstName}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">First name</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4 required">{{#tenant.strings.lastName}}{{tenant.strings.lastName}}{{else}}Last Name:{{/}}</label>
          <input class="form-control" id="curLastName" required value="{{current.lastName}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Last or family name</p>
        </li>
        {{# current.phone}}
          <li class="form-group">
            <label class="col-md-4 col-sm-4">{{#tenant.strings.phone}}{{tenant.strings.phone}}{{else}}Phone:{{/}}</label>
            <input class="form-control" id="curPhone" pattern="\+?[0-9, ]{8,13}" type="tel" value="{{current.phone}}">
            <p class="col-md-offset-4 hidden-sm hidden-xs help-block">&nbsp;</p>
          </li>
        {{/}}
        {{# current.commsPreference}}
          <li class="form-group">
            <label class="col-md-4 col-sm-4 required">{{#tenant.strings.preferred}}{{tenant.strings.preferred}}{{else}}Preferred:{{/}}</label>
            <input class="form-control" id="curCommsPreference" list="commsPreferences" required value="{{current.commsPreference}}">
            <p class="col-md-offset-4 hidden-sm hidden-xs help-block">&nbsp;</p>
          </li>
        {{/}}
        <li class="form-group">
          <label class="col-md-4 col-sm-4 required">{{#tenant.strings.tenant}}{{tenant.strings.tenant}}{{else}}Tenant:{{/}}</label>
          <input class="no-update-field form-control" id="curTenant" readonly disabled type="text" value="{{current.tenant}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">No update allowed</p>
        </li>
      </ul>
    </form>
  </div>

  {{#currentAction!='CREATE'}}
    <div class="currentBody col-md-6 col-sm-12">
      <form id="userPwdForm">
        <ul class="form edit-form">
          <li class="form-group">
            <label class="col-md-4 col-sm-4">{{#tenant.strings.roles}}{{tenant.strings.roles}}{{else}}Roles:{{/}}</label>
            <ul class="tag-ctrl tagit form-control col-md-8 col-sm-8 col-xs-8" id="curGroups"></ul>
          </li>
          <li style="clear:both">
            <button class="col-md-offset-4 col-sm-offset-4 btn" id="resetPwdBtn" on-click="togglePwdFields()">Reset Password</button>
          </li>
          <li style="clear:both;display:none" class="pwdField">
            <input autocomplete="off" class="col-md-offset-4 col-sm-offset-4 form-control" id="curPassword" name="password" pattern=".{9,}" placeholder="New password" required title="8 characters minimum" type="password" value="{{current.newPassword}}">
          </li>
          <li class="pwdField" style="display:none">
            <input autocomplete="off" class="col-md-offset-4 col-sm-offset-4 form-control" id="curPassword2" name="password2" placeholder="Confirm password" required type="password" value="{{current.confirmPassword}}">
          </li>
        </ul>
      </form>
    </div>
  {{/}}

  {{#if haveCustomExtension('UserExtension')}}
    <div id="currentUserExtended" style="clear: both">
      {{>(tenant.id+'UserExtension')}}
    </div>
  {{else}}
    <div id="currentUserExtended" style="clear: both">
      {{>currentUserExtensionSect}}
    </div>
  {{/if}}

  </div>
</section>