<section id="currentSect" style="display:none">
  <form id="userForm">
    <div class="clearfix" id="messages"><p></p></div>
  <h2>
    {{#current.id == profile.id}}Welcome!{{else}}User:{{/}} 
    {{current.firstName}} {{current.lastName}} ({{current.id}})
  </h2>
 
  <ul class="form edit-form">
    <li class="create-field">
      <label class="required col-md-3">Username:</label>
      <input class="form-control" id="curUsername" on-blur="save()" required value="{{current.id}}">
    </li>
    <li>
      <label class="required col-md-3">First Name:</label>
      <input class="no-update-field form-control" id="curFirstName" on-blur="save()" required value="{{current.firstName}}">
      <div><i>No update allowed</i></div>
    </li>
    <li>
      <label class="required col-md-3">Last Name:</label>
      <input class="no-update-field form-control" id="curLastName" on-blur="save()" required value="{{current.lastName}}">
      <div><i>No update allowed</i></div>
    </li>
    <li>
      <label class="required col-md-3">Email:</label>
      <input class="no-update-field form-control" id="curEmail" on-blur="save()" required type="email" value="{{current.email}}">
      <div><i>No update allowed</i></div>
    </li>
    <li>
      <label class="required col-md-3">Mobile Phone:</label>
      <input class="no-update-field form-control" id="curPhone" pattern="\+?[0-9, ]{8,13}" required type="tel" value="{{current.phone}}">
      <div><i>No update allowed</i></div>
    </li>
    <li>
      <label class="required col-md-3">Preferred Contact:</label>
      <input class="no-update-field typeahead form-control" id="curCommsPreference" required value="{{current.commsPreference}}">
      <div><i>No update allowed</i></div>
    </li>
    <li>
      <label class="required col-md-3">Tenant:</label>
      <input class="no-update-field form-control" id="curTenant" required type="text" value="{{current.tenant}}">
      <div><i>No update allowed</i></div>
    </li>
    <li class="create-field">
      <label class="required col-md-3">Password:</label>
      <input class="form-control" id="curPassword" on-blur="save()" required value="{{current.password}}">
    </li>
    <li class="create-field">
      <label class="required col-md-3">Confirm Password:</label>
      <input class="form-control" id="curPassword2" on-blur="save()" required value="{{current.confirmPassword}}">
    </li>
    <li>
      <label class="col-md-3">Groups:</label>
      <span id="curGroups">
        {{#each current.groups:j}}<span>{{name}}, </span>{{/each}}
        <input id="curNewGroup" class="hidden" on-blur="addUserToGroup()" value="{{current.newGroup}}">
        <span class="clickable glyphicon glyphicon-plus admin super-admin" aria-hidden="true" onclick="ractive.addGroup()"></span>
      </span>
    </li>
  </ul>
  </form>
</section>