{{#if current.info.length>0}}
  <section id="currentUserExtendedSect">
    <h3>
      <span class="ol-collapse glyphicon glyphicon-btn glyphicon-triangle-right" onclick="ractive.toggleSection($(this).closest('section'))"></span>
      <span>{{#tenant.strings.UserExtTitle}}{{tenant.strings.UserExtTitle}}{{else}}Further Info{{/}}</span>
    </h3>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12" style="display:none">
      <ul class="form edit-form">
        {{#each current.info.slice(0,Math.ceil(current.info.length/2)):j}}
          {{>userInfo}}
        {{/each}}
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12" style="display:none">
      <ul class="form edit-form">
        {{#each current.info.slice(Math.ceil(current.info.length/2),current.info.length):j}}
          {{>userInfo}}
        {{/each}}
      </ul>
    </div>
  </section>
{{/if}}
