<span id="usersTableToggle" class="clickable glyphicon glyphicon-btn glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the users table"></span>
<span>Users</span>
<span class="clickable glyphicon glyphicon-btn glyphicon-plus" aria-hidden="true" on-click="addUser()" title="Add a new user"></span>
<span class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></span>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<span class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching users"></span>
