<section id="currentSect" style="display:none">
  <h2>
    <span>{{current.businessKey}}: {{current.name == null ? current.taskDefinitionKey.toLabel() : current.name}}</span> 
    <span class="admin">({{current.id}})</span>
  </h2>

  <form id="currentForm">
    {{#current.description}}
      <p class="col-md-12 alert-info">{{current.description}}</p>
    {{/}}
    <div class="col-md-12">
      <ul class="form-inline edit-form">
        <li class="form-group">
          <label class="">Created:</label>
          <input class="form-control" id="curCreated" disabled readonly twoway="false" value="{{formatDate(current.createTime)}}">
        </li>
        <li class="form-group">
          <label class="">Remind:</label>
          <input class="form-control" id="curDeferDate" readonly disabled twoway="false" value="{{formatDate(current.taskLocalVariables['deferUntil'])}}">
        </li>
        <li class="form-group">
          <label class="">Due:</label>
          <input class="form-control" id="curDueDate" on-change="save()" placeholder="yyyy-mm-dd" {{#current.processVariables.initiator!=profile.email}}readonly disabled{{/}} type="date" value="{{current.dueDate}}">
        </li>
        <li class="form-group initiator">
          <label class="">Started By:</label>
          {{#if current.processVariables['initiator']==undefined || current.processVariables['initiator']=='anonymousUser'}}
            <span class="initiator-img" style="margin-top:-2px" title="Omny Link"></span>
          {{else}}
            <span class="initiator-img" style="margin-top:-2px" title="{{current.processVariables['initiator']}}"></span>
          {{/if}}
        </li>
      </ul>
    </div>
    
    {{! NOTE THAT the userForm may have been re-defined by current.formKey }}
    {{>userForm { current: current } }}
  </form>

  <button class="btn" on-click="submitTask()" type="button">Return To List</button>
  <div class="btn-group">
    <button class="btn btn-warning dropdown-toggle" id="remindBtn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Remind Me ... <span class="caret"></span></button>
    <ul class="dropdown-menu btn-warning has-warning" aria-labelledby="remindBtn">
      <li class="btn-warning" on-click="deferTask(P1D)">Tomorrow</li>
      <!-- <li class="btn-warning" on-click="deferTask()">Next Monday</li>-->
      <li class="btn-warning" on-click="deferTask('P7D')">In a week</li>
      <li class="btn-warning" on-click="deferTask('P14D')">In a fortnight</li>
      <li class="btn-warning" on-click="deferTask('P30D')">In a month</li>
      <li class="btn-warning text-warning warning">
        <input class="form-control" min="{{today}}" on-change="deferTask()" style="width: 165px" type="date" value="{{deferUntil}}"/>
      </li>
    </ul>
  </div>

  <div class="pull-right">
    <button class="btn btn-success" on-click="submitCompleteTask()" type="button">Mark Complete</button>
    <button class="btn btn-danger" data-process-instance-id="{{current.processInstanceId}}" onclick="ractive.endInstance('{{current.processInstanceId}}')" type="button">Delete</button>
  </div>
</section>