<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="taskSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <div id="sendMessage" style="display:none">
    <form action="/msg/{{tenant.id}}/" class="well form" id="sendMessageForm" method="post">
        <fieldset>
          <ul class="form edit-form">
            <li class="form-group">
              <label class="col-md-3 col-sm-3" for="messageName">Message Name</label>
              <input name="tenantId" id="tenantId" type="hidden" value="{{message.tenantId}}"/>
              <input class="form-control col-md-9 col-sm-9" name="messageName" id="messageName" placeholder="{{tenant.id}}.message" value="{{message.name}}"/>
            </li>
            <li class="form-group">
              <label class="col-md-3 col-sm-3" for="bizKey">Business Identifier</label>
              <input class="form-control col-sm-9 col-sm-9" name="bizKey" id="bizKey" placeholder="" value="{{message.bizKey}}"/>
            </li>
            <li class="form-group">
              <label class="col-md-3 col-sm-3" for="messagePattern">Message Exchange Pattern</label>
              <label class="radio"><input class="" name="{{message.pattern}}" type="radio" value="inOut"> In-Out</label>
              <label class="radio"><input class="" name="{{message.pattern}}" type="radio" checked="checked" value="inOnly"> In-Only</label>
            </li>
            <li class="form-group">
              <label class="textarea col-md-3 col-sm-3" for="messageBody">Message</label>
              <textarea class="form-control col-md-9 col-sm-9" name="messageBody" id="messageBody" placeholder="Message payload (JSON)" style="width:60%;display: inline-block;" value="{{message.body}}"></textarea>
            </li>
            <li class="form-group" style="padding-top:10px;">
              <button class="btn btn-default pull-right" id="cancel" on-click="collapseSendMessage()" type="button">Cancel</button>
              <button class="btn btn-primary pull-right" on-click="sendMessage()" type="button">Send message</button>
            </li>
          </ul>
        </fieldset>
        <fieldset id="response" style="display:none">
          <legend>Response</legend>
          <div id="responseBody"></div>
        </fieldset>
      </form>
  </div>
  <table id="tasksTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:businessKey">From / Regarding<span class="sortable {{ sorted('businessKey') }} glyphicon"></th>
        <th class="col-truncate" on-click="sort:name">Task<span class="sortable {{ sorted('name') }} glyphicon"></th>
        <th on-click="sort:createTime">Created<span class="sortable {{ sorted('createTime') }} glyphicon"></th>
        <th on-click="sort:taskLocalVariables['deferUntil'])">Deferred Until<span class="sortable {{ sorted('taskLocalVariables["deferUntil"]') }} glyphicon"></th>
        <th on-click="sort:dueDate">Due<span class="sortable {{ sorted('dueDate') }} glyphicon"></th>
        <!--th class="col-truncate" style="width: 400px;">Description</th-->
        <th on-click="sort:assignee">Assigned<span class="sortable {{ sorted('assignee') }} glyphicon"></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(tasks,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this,i) }}
      <tr class="{{renderPriority(this)}}" data-href="{{_links.self.href}}">
        <td on-click="edit(this)">{{i+1}}</td>
        <td on-click="edit(this)">{{businessKey}}</td>
        <td on-click="edit(this)">{{name == null ? taskDefinitionKey.toLabel() : name}}</td>
        <td on-click="edit(this)">{{formatDate(createTime)}}</td>
        <td on-click="edit(this)">{{formatDate(taskLocalVariables['deferUntil'])}}</td>
        <td on-click="edit(this)">{{formatDate(dueDate)}}</td>
        <!--td on-click="edit(this)">{{description}}</td-->
        <td on-click="edit(this)">{{assignee==null ? 'No' : 'Yes'}}</td>
        <td>
          <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" on-click="edit(this)"></a>
        </td>
      </tr>
      {{/}}
    {{/each}}
    </tbody>
  </table>
</section>