<a id="tasksTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the task table"></a>
<span>Tasks</span>
<a class="clickable glyphicon glyphicon-envelope admin" aria-hidden="true" on-click="newMessage()" title="Send a new message"></a>
<a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching contacts"></a>
<a class="clickable dropdown" aria-hidden="true" title="Show filters">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <a class="clickable glyphicon glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
  </a>
  <ul class="omny-dropdown dropdown-menu" role="menu">
    <li on-click="filter:{idx:1}">Show all</li>
    <li class="divider"></li>
    <li on-click="filter:{idx:3, field: 'dueDate', func: 'isDueToday'}">Show due today</li>
    <li on-click="filter:{idx:4, field: 'dueDate', func: 'isDueTodayTomorrow'}">Show due by tomorrow</li>
    <li on-click="filter:{idx:5, field: 'dueDate', func: 'isDueThisWeek'}">Show due this week</li>
    <li on-click="filter:{idx:6, field: 'dueDate', func: 'isDueThisMonth'}">Show due this month</li>
    <li class="divider"></li>
    <li on-click="filter:{idx:8, field: 'taskLocalVariables.deferUntil', func: 'isActive'}">Show active</li>
    <li on-click="filter:{idx:9, field: 'taskLocalVariables.deferUntil', func: 'isDeferred'}">Show deferred</li>
  </ul>
</a>
{{#if tenant.workActions}}
  <span class="clickable dropdown" aria-hidden="true" title="Start Process">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <a class="clickable glyphicon glyphicon-play dropdown" aria-hidden="true" title="Start Process"> <span class="caret"></a>
    </a>
    
    <ul class="omny-dropdown dropdown-menu" role="menu">
      {{#each tenant.workActions }}
        {{#name && matchRole(role) && featureEnabled(feature)}}
          <li onclick="ractive.startCustomAction('{{ref}}', '{{name}}', ractive.get('profile'){{#url}}, '{{url}}'{{/url}})">{{name}}</li>
        {{elseif name==undefined}}
          <li class="divider"></li>
        {{/}}
      {{/each}}
    </ul>
  </span>
{{/if}}