@font-face {
	font-family: 'knowprocess';
	src:url('fonts/knowprocess.eot');
	src:url('fonts/knowprocess.eot?#iefix') format('embedded-opentype'),
		url('fonts/knowprocess.woff') format('woff'),
		url('fonts/knowprocess.ttf') format('truetype'),
		url('fonts/knowprocess.svg#knowprocess') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'knowprocess';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="kp-icon-"] {
*/
.kp-icon-linkedin:before, .kp-icon-sitemap:before, .kp-icon-comments-alt:before, .kp-icon-rss:before, .kp-icon-twitter-sign:before, .kp-icon-cloud:before, .kp-icon-road:before, .kp-icon-twitter:before, .kp-icon-road-2:before, .kp-icon-linkedin-sign:before, .kp-icon-linkedin-2:before, .kp-icon-feed:before, .kp-icon-feed-2:before, .kp-icon-inbox:before, .kp-icon-drawer:before, .kp-icon-user:before, .kp-icon-user-2:before, .kp-icon-profile:before, .kp-icon-cog:before, .kp-icon-cogs:before, .kp-icon-cog-2:before, .kp-icon-cog-3:before, .kp-icon-cogs-2:before, .kp-icon-upload:before, .kp-icon-upload-alt:before, .kp-icon-upload-2:before, .kp-icon-cloud-upload:before, .kp-icon-download-alt:before, .kp-icon-download:before, .kp-icon-cloud-download:before, .kp-icon-download-2:before, .kp-icon-cloud-download-2:before, .kp-icon-plus-sign:before, .kp-icon-minus-sign:before, .kp-icon-remove-sign:before, .kp-icon-ok-sign:before, .kp-icon-question-sign:before, .kp-icon-info-sign:before, .kp-icon-exclamation-sign:before, .kp-icon-warning-sign:before, .kp-icon-signout:before, .kp-icon-signin:before, .kp-icon-enter:before, .kp-icon-exit:before, .kp-icon-warning:before, .kp-icon-signup:before, .kp-icon-search:before, .kp-icon-search-2:before, .kp-icon-facebook-sign:before, .kp-icon-facebook:before, .kp-icon-facebook-2:before, .kp-icon-facebook-3:before, .kp-icon-happy:before, .kp-icon-happy-2:before, .kp-icon-smiley:before, .kp-icon-smiley-2:before, .kp-icon-tongue:before, .kp-icon-tongue-2:before, .kp-icon-sad:before, .kp-icon-sad-2:before, .kp-icon-wink:before, .kp-icon-wink-2:before, .kp-icon-grin:before, .kp-icon-grin-2:before, .kp-icon-cool:before, .kp-icon-cool-2:before, .kp-icon-angry:before, .kp-icon-angry-2:before, .kp-icon-evil:before, .kp-icon-evil-2:before, .kp-icon-shocked:before, .kp-icon-shocked-2:before, .kp-icon-confused:before, .kp-icon-confused-2:before, .kp-icon-neutral:before, .kp-icon-neutral-2:before, .kp-icon-wondering:before, .kp-icon-wondering-2:before, .kp-icon-spinner:before, .kp-icon-home:before, .kp-icon-home-2:before, .kp-icon-home-3:before, .kp-icon-tag:before, .kp-icon-tags:before, .kp-icon-list:before, .kp-icon-list-ul:before, .kp-icon-menu:before, .kp-icon-th-list:before, .kp-icon-wordpress:before, .kp-icon-wordpress-2:before, .kp-icon-google-plus-sign:before, .kp-icon-google-plus:before, .kp-icon-google:before, .kp-icon-google-plus-2:before, .kp-icon-google-plus-3:before, .kp-icon-google-drive:before, .kp-icon-github-sign:before, .kp-icon-github-alt:before, .kp-icon-github:before, .kp-icon-github-2:before, .kp-icon-github-3:before, .kp-icon-github-4:before, .kp-icon-github-5:before, .kp-icon-github-6:before, .kp-icon-expand:before, .kp-icon-fullscreen:before, .kp-icon-contract:before, .kp-icon-thumbs-up:before, .kp-icon-thumbs-down:before, .kp-icon-bookmark-empty:before, .kp-icon-check-empty:before, .kp-icon-table:before, .kp-icon-star:before, .kp-icon-star-2:before, .kp-icon-star-3:before, .kp-icon-thumbs-up-2:before, .kp-icon-thumbs-up-3:before, .kp-icon-share:before, .kp-icon-twitter-2:before, .kp-icon-group:before, .kp-icon-bell:before, .kp-icon-off:before, .kp-icon-radio-checked:before, .kp-icon-radio-unchecked:before, .kp-icon-filter:before, .kp-icon-filter-2:before, .kp-icon-check:before, .kp-icon-stats:before, .kp-icon-bar-chart:before, .kp-icon-pie {
	font-family: 'knowprocess';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.kp-icon-linkedin:before {
	content: "\f0e1";
}
.kp-icon-sitemap:before {
	content: "\f0e8";
}
.kp-icon-comments-alt:before {
	content: "\f0e6";
}
.kp-icon-rss:before {
	content: "\f09e";
}
.kp-icon-twitter-sign:before {
	content: "\f081";
}
.kp-icon-cloud:before {
	content: "\f0c2";
}
.kp-icon-road:before {
	content: "\f018";
}
.kp-icon-twitter:before {
	content: "\e000";
}
.kp-icon-road-2:before {
	content: "\e001";
}
.kp-icon-linkedin-sign:before {
	content: "\f08c";
}
.kp-icon-linkedin-2:before {
	content: "\e002";
}
.kp-icon-feed:before {
	content: "\e003";
}
.kp-icon-feed-2:before {
	content: "\e004";
}
.kp-icon-inbox:before {
	content: "\f01c";
}
.kp-icon-drawer:before {
	content: "\e005";
}
.kp-icon-user:before {
	content: "\f007";
}
.kp-icon-user-2:before {
	content: "\e006";
}
.kp-icon-profile:before {
	content: "\e007";
}
.kp-icon-cog:before {
	content: "\f013";
}
.kp-icon-cogs:before {
	content: "\f085";
}
.kp-icon-cog-2:before {
	content: "\e008";
}
.kp-icon-cog-3:before {
	content: "\e009";
}
.kp-icon-cogs-2:before {
	content: "\e00a";
}
.kp-icon-upload:before {
	content: "\f01b";
}
.kp-icon-upload-alt:before {
	content: "\f093";
}
.kp-icon-upload-2:before {
	content: "\e00b";
}
.kp-icon-cloud-upload:before {
	content: "\f0ee";
}
.kp-icon-download-alt:before {
	content: "\f019";
}
.kp-icon-download:before {
	content: "\f01a";
}
.kp-icon-cloud-download:before {
	content: "\f0ed";
}
.kp-icon-download-2:before {
	content: "\e00c";
}
.kp-icon-cloud-download-2:before {
	content: "\e00d";
}
.kp-icon-plus-sign:before {
	content: "\f055";
}
.kp-icon-minus-sign:before {
	content: "\f056";
}
.kp-icon-remove-sign:before {
	content: "\f057";
}
.kp-icon-ok-sign:before {
	content: "\f058";
}
.kp-icon-question-sign:before {
	content: "\f059";
}
.kp-icon-info-sign:before {
	content: "\f05a";
}
.kp-icon-exclamation-sign:before {
	content: "\f06a";
}
.kp-icon-warning-sign:before {
	content: "\f071";
}
.kp-icon-signout:before {
	content: "\f08b";
}
.kp-icon-signin:before {
	content: "\f090";
}
.kp-icon-enter:before {
	content: "\e00e";
}
.kp-icon-exit:before {
	content: "\e00f";
}
.kp-icon-warning:before {
	content: "\e010";
}
.kp-icon-signup:before {
	content: "\e011";
}
.kp-icon-search:before {
	content: "\f002";
}
.kp-icon-search-2:before {
	content: "\e012";
}
.kp-icon-facebook-sign:before {
	content: "\f082";
}
.kp-icon-facebook:before {
	content: "\f09a";
}
.kp-icon-facebook-2:before {
	content: "\e013";
}
.kp-icon-facebook-3:before {
	content: "\e014";
}
.kp-icon-happy:before {
	content: "\e015";
}
.kp-icon-happy-2:before {
	content: "\e016";
}
.kp-icon-smiley:before {
	content: "\e017";
}
.kp-icon-smiley-2:before {
	content: "\e018";
}
.kp-icon-tongue:before {
	content: "\e019";
}
.kp-icon-tongue-2:before {
	content: "\e01a";
}
.kp-icon-sad:before {
	content: "\e01b";
}
.kp-icon-sad-2:before {
	content: "\e01c";
}
.kp-icon-wink:before {
	content: "\e01d";
}
.kp-icon-wink-2:before {
	content: "\e01e";
}
.kp-icon-grin:before {
	content: "\e01f";
}
.kp-icon-grin-2:before {
	content: "\e020";
}
.kp-icon-cool:before {
	content: "\e021";
}
.kp-icon-cool-2:before {
	content: "\e022";
}
.kp-icon-angry:before {
	content: "\e023";
}
.kp-icon-angry-2:before {
	content: "\e024";
}
.kp-icon-evil:before {
	content: "\e025";
}
.kp-icon-evil-2:before {
	content: "\e026";
}
.kp-icon-shocked:before {
	content: "\e027";
}
.kp-icon-shocked-2:before {
	content: "\e028";
}
.kp-icon-confused:before {
	content: "\e029";
}
.kp-icon-confused-2:before {
	content: "\e02a";
}
.kp-icon-neutral:before {
	content: "\e02b";
}
.kp-icon-neutral-2:before {
	content: "\e02c";
}
.kp-icon-wondering:before {
	content: "\e02d";
}
.kp-icon-wondering-2:before {
	content: "\e02e";
}
.kp-icon-spinner:before {
	content: "\f110";
}
.kp-icon-home:before {
	content: "\f015";
}
.kp-icon-home-2:before {
	content: "\e02f";
}
.kp-icon-home-3:before {
	content: "\e030";
}
.kp-icon-tag:before {
	content: "\f02b";
}
.kp-icon-tags:before {
	content: "\f02c";
}
.kp-icon-list:before {
	content: "\f03a";
}
.kp-icon-list-ul:before {
	content: "\f0ca";
}
.kp-icon-menu:before {
	content: "\e031";
}
.kp-icon-th-list:before {
	content: "\f00b";
}
.kp-icon-wordpress:before {
	content: "\e032";
}
.kp-icon-wordpress-2:before {
	content: "\e033";
}
.kp-icon-google-plus-sign:before {
	content: "\f0d4";
}
.kp-icon-google-plus:before {
	content: "\f0d5";
}
.kp-icon-google:before {
	content: "\e034";
}
.kp-icon-google-plus-2:before {
	content: "\e035";
}
.kp-icon-google-plus-3:before {
	content: "\e036";
}
.kp-icon-google-drive:before {
	content: "\e037";
}
.kp-icon-github-sign:before {
	content: "\f092";
}
.kp-icon-github-alt:before {
	content: "\f113";
}
.kp-icon-github:before {
	content: "\e038";
}
.kp-icon-github-2:before {
	content: "\e039";
}
.kp-icon-github-3:before {
	content: "\e03a";
}
.kp-icon-github-4:before {
	content: "\e03b";
}
.kp-icon-github-5:before {
	content: "\e03c";
}
.kp-icon-github-6:before {
	content: "\f09b";
}
.kp-icon-expand:before {
	content: "\e03d";
}
.kp-icon-fullscreen:before {
	content: "\f0b2";
}
.kp-icon-contract:before {
	content: "\e03e";
}
.kp-icon-thumbs-up:before {
	content: "\f087";
}
.kp-icon-thumbs-down:before {
	content: "\f088";
}
.kp-icon-bookmark-empty:before {
	content: "\f097";
}
.kp-icon-check-empty:before {
	content: "\f096";
}
.kp-icon-table:before {
	content: "\f0ce";
}
.kp-icon-star:before {
	content: "\e03f";
}
.kp-icon-star-2:before {
	content: "\e040";
}
.kp-icon-star-3:before {
	content: "\e041";
}
.kp-icon-thumbs-up-2:before {
	content: "\e042";
}
.kp-icon-thumbs-up-3:before {
	content: "\e043";
}
.kp-icon-share:before {
	content: "\e044";
}
.kp-icon-twitter-2:before {
	content: "\f099";
}
.kp-icon-group:before {
	content: "\f0c0";
}
.kp-icon-bell:before {
	content: "\f0a2";
}
.kp-icon-off:before {
	content: "\f011";
}
.kp-icon-radio-checked:before {
	content: "\e045";
}
.kp-icon-radio-unchecked:before {
	content: "\e046";
}
.kp-icon-filter:before {
	content: "\e047";
}
.kp-icon-filter-2:before {
	content: "\e048";
}
.kp-icon-check:before {
	content: "\f046";
}
.kp-icon-stats:before {
	content: "\e049";
}
.kp-icon-bar-chart:before {
	content: "\f080";
}
.kp-icon-pie:before {
	content: "\e04a";
}
