<h3>
  <span>Further Contact Info</span>
</h3>
<div>
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Current Partner:</label>
      <input class="typeahead form-control" id="curPartnersContacted" on-blur="console.debug(''+this.value);ractive.save()" value="{{current.customFields['partnersContacted']}}"></li>
      <!-- <span class="glyphicon glyphicon-new-window">
        
      </span-->
    </ul>
  </div>
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Date Placed:</label>
      <input class="typeahead form-control" id="curPlacedWithParter" on-blur="console.debug(''+this.value);ractive.save()" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm/yyyy" value="{{current.customFields['placedWithParter']}}"></li>    
    </ul>
  </div>
</div>
<div style="clear:both"></div>

<h3><span>Valuation</span></h3> 
<div class="" id="currentAccountValuation">
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Low Quote:</label><input class="autoNumeric form-control" id="curLowQuote" data-a-sign="£ " value="{{current.account.customFields['lowQuote']}}"/></li>
      <li class="form-group"><label class="col-md-4">Medium Quote:</label><input class="autoNumeric form-control" id="curMediumQuote" data-a-sign="£ " value="{{current.account.customFields['mediumQuote']}}"/></li>
      <li class="form-group"><label class="col-md-4">High Quote:</label><input class="autoNumeric form-control" id="curHighQuote" data-a-sign="£ " value="{{current.account.customFields['highQuote']}}"/></li>
      <!--li><button on-click="">Calc</button></li>-->
    </ul>
  </div> 
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Share of Business:</label><input class="form-control" id="curShareOfBusiness" min="0" max="100" placeholder="%" type="number" value="{{current.account.customFields['shareOfBusiness']}}"></li>
      <li class="form-group"><label class="col-md-4">Asking Price:</label><input class="autoNumeric form-control" id="curAskingPrice" data-a-sign="£ "value="{{current.account.customFields['askingPrice']}}"></li>
      <li class="form-group"><label class="col-md-4">Preferred Timing:</label><input class="form-control" id="curPreferredTiming" value="{{current.account.customFields['preferredTiming']}}"/></li>
    </ul>
  </div>
</div>

<h3 style="clear:both"><span>Financials</span></h3> 
<div id="currentAccountFinancials">
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">EBITDA:</label><input class="autoNumeric form-control" id="curEbitda" data-a-sign="£ "value="{{current.account.customFields['ebitda']}}"/></li>
      <li class="form-group"><label class="col-md-4">Surplus:</label><input class="autoNumeric form-control" id="curSurplus" data-a-sign="£ "value="{{current.account.customFields['surplus']}}"/></li>
      <li class="form-group"><label class="col-md-4">Depreciation:</label><input class="autoNumeric form-control" id="curDepreciation" data-a-sign="£ "value="{{current.account.customFields['depreciationAmortisation']}}"/></li>
      <li class="form-group"><label class="col-md-4">Assets:</label><input class="autoNumeric form-control" id="curAssets" data-a-sign="£ "value="{{current.account.customFields['assets']}}"/></li>
    </ul>
  </div> 
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Operating Profit:</label><input class="autoNumeric form-control" id="curOperatingProfit" data-a-sign="£ "value="{{current.account.customFields['operatingProfit']}}"/></li>
      <li class="form-group"><label class="col-md-4">Adjustments:</label><input class="autoNumeric form-control" id="curAdjustments" data-a-sign="£ "value="{{current.account.customFields['adjustments']}}"/></li>
      <li class="form-group"><label class="col-md-4">Borrowing:</label><input class="autoNumeric form-control" id="curBorrowing" data-a-sign="£ "value="{{current.account.customFields['borrowing']}}"/></li>
    </ul>
  </div> 
  <div class="col-md-12" style="margin-bottom:20px">
    <fieldset class="form-inline">
      <legend>Current Year</legend>
      <label class="col-md-offset-1">Financial Year:</label><input class="form-control year" id="curCurrentFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['currentFinancialYear']}}"/>
      <label>Turnover:</label><input class="form-control autoNumeric" id="curCurrentTurnover" data-a-sign="£ "value="{{current.account.customFields['currentTurnover']}}"/>
      <label>Profit:</label><input class="form-control autoNumeric" id="curCurrentProfit" data-a-sign="£ "value="{{current.account.customFields['currentProfit']}}"/>
    </fieldset>
    <fieldset class="form-inline">
      <legend>Last Year</legend>
      <label class="col-md-offset-1">Financial Year:</label><input class="form-control year" id="curLastFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['lastFinancialYear']}}"/>
      <label>Turnover:</label><input class="form-control autoNumeric" id="curLastTurnover" data-a-sign="£ "value="{{current.account.customFields['lastTurnover']}}"/>
      <label>Profit:</label><input class="form-control autoNumeric" id="curLastProfit" data-a-sign="£ "value="{{current.account.customFields['lastProfit']}}"/>
    </fieldset>
    <fieldset class="form-inline">
      <legend>Previous Year</legend>
      <label class="col-md-offset-1">Financial Year:</label><input class="form-control year" id="curPreviousFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['previousFinancialYear']}}"/>
      <label>Turnover:</label><input class="form-control autoNumeric" id="curPreviousTurnover" data-a-sign="£ "value="{{current.account.customFields['previousTurnover']}}"/>
      <label>Profit:</label><input class="form-control autoNumeric" id="curPreviousProfit" data-a-sign="£ "value="{{current.account.customFields['previousProfit']}}"/>
    </fieldset>
  </div>
</div>

<div class="" id="currentAccountExtended" style="clear:both">
  <h2 class="form"><span>Business Information</span></h2> 
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Region:</label><input class="form-control" id="curRegion" value="{{current.account.customFields['region']}}"/></li>
    </ul>
  </div> 
  <div class="col-sm-12 col-md-6">
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-4">Sector:</label><input class="form-control" id="curSector" value="{{current.account.customFields['sector']}}"/></li>
      <li class="form-group"><label class="col-md-4">Sub-Sector:</label><input class="form-control" id="curSubSector" value="{{current.account.customFields['subSector']}}"/></li>
    </ul>
  </div>
</div>

<div id="currentAccountProperty" style="clear: both" class="">
  <fieldset>
    <legend>Furthermore...</legend>
    <ul class="form edit-form">
      <li class="form-group"><label class="col-md-2 textarea">Already Contacted:</label><textarea id="curAlreadyContacted" value="{{current.account.customFields['alreadyContacted']}}"></textarea></li>
      <li class="form-group"><label class="col-md-2 textarea">Reason for Selling:</label><textarea id="curReasonForSale" value="{{current.account.customFields['reasonForSale']}}"></textarea></li>
      <li class="form-group"><label class="col-md-2 textarea">Property Info:</label><textarea id="curPropertyInfo" value="{{current.account.customFields['propertyInfo']}}"></textarea></li>
    </ul>
  </fieldset>
</div>
