<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section class="resultsSect" id="tenantsSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="tenantsTable" class="tenants table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:tenantId">Name<span class="sortable {{ sorted('tenantId') }} glyphicon"></th>
        <th on-click="sort:contacts">Contacts<span class="sortable {{ sorted('contacts') }} glyphicon"></th>
        <th on-click="sort:contactAlerts">Contact Alerts<span class="sortable {{ sorted('contactAlerts') }} glyphicon"></th>
        <th on-click="sort:definitions">Definitions<span class="sortable {{ sorted('definitions') }} glyphicon"></th>
        <th on-click="sort:activeInstances">Active Instances<span class="sortable {{ sorted('activeInstances') }} glyphicon"></th>
        <th on-click="sort:historicInstances">Historic Instances<span class="sortable {{ sorted('historicInstances') }} glyphicon"></th>
        <th on-click="sort:tasks">Tasks<span class="sortable {{ sorted('tasks') }} glyphicon"></th>
        <th on-click="sort:jobs">Jobs<span class="sortable {{ sorted('jobs') }} glyphicon"></th>
        <th on-click="sort:users">Users<span class="sortable {{ sorted('users') }} glyphicon"></th>
        <!-- <th class="" on-click="sort:lastActivity">Last Activity<span class="sortable {{ sorted('lastActivity') }} glyphicon"></span></th> -->
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(tenants,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this) }}
          <tr data-href="{{selfRef}}">
            <td on-click="edit(this)">{{i+1}}</td>
            <td on-click="edit(this)">
              {{#if theme == undefined}}
                {{name == undefined ? tenantId : name}}
              {{else}}
                <img alt="Logo for {{tenantId}}" class="brand-logo" src="{{theme.logoUrl}}" title="Logo for {{tenantId}}">
              {{/if}}
            </td>
            <td on-click="edit(this)">{{contacts}}</td>
            <td on-click="edit(this)">{{contactAlerts}}</td>
            <td on-click="edit(this)">{{definitions}}</td>
            <td on-click="edit(this)">{{activeInstances}}</td>
            <td on-click="edit(this)">{{historicInstances}}</td>
            <td on-click="edit(this)">{{tasks}}</td>
            <td on-click="edit(this)">{{jobs}}</td>
            <td on-click="edit(this)">{{users}}</td>
            <!-- <td on-click="edit(this)">{{lastActivity}}</td>-->
            <td class="col-actions">
              <a class="clickable glyphicon glyphicon-btn glyphicon-bell" aria-hidden="true" onclick="ractive.checkServiceLevels('{{tenantId}}')" title="Check service levels for all contacts"></a>
              <a class="clickable glyphicon glyphicon-btn glyphicon-compressed" aria-hidden="true" onclick="ractive.archive('{{tenantId}}')" title="Remove historic instances"></a>
              {{#if cocnfigUrl}}
                <a class="clickable admin glyphicon glyphicon-btn glyphicon-new-window" aria-hidden="true" href="{{configUrl}}" title="Open the tenant configuration in a new window"></a>
              {{else}}
                <a class="clickable admin glyphicon glyphicon-btn glyphicon-new-window" aria-hidden="true" href="/tenants/{{tenantId}}.json" title="Open the tenant configuration in a new window"></a>
              {{/if}}
              <!-- <a class="clickable admin glyphicon glyphicon-btn glyphicon-new-window" aria-hidden="true" href="/status.html?tenantId={{tenantId}}" title="Open the tenant status page in a new window"></a>-->
            </td>
          </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="11">{{searchMatched == 0 ? 'No' : searchMatched}} matching tenant{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>