<a id="metricsTableToggle" class="clickable glyphicon glyphicon-btn glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the tenant table"></a>
<span>Metrics</span>
<a class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching metrics"></a>
