<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section class="resultsSect" id="metricsSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="metricsTable" class="metrics table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Month to date</th>
        {{#each metrics.labels : i}}
          <th on-click="sort:metrics">{{..toLabel()}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
	    {{#each metrics.x :i}}
	      <tr data-href="{{selfRef}}">
	        <td>{{i+1}}</td>
	        <td>{{formatDate(.)}}</td>
	        <td>{{metrics.y1[i]}}</td>
	        <td>{{metrics.y2[i]}}</td>
	        <td>{{metrics.y3[i]}}</td>
	        <td>{{metrics.y4[i]}}</td>
	      </tr>
	    {{/each}}
    </tbody>
  </table>
</section>