<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>

<section id="currentSect">
  <h2 class="navbar-top">
    {{>navbar}}  
  </h2>

  <form class="inline-form form" id="currentForm">
    <h2 id="features">
	    <span>Features enabled for </span>
			<span contenteditable id="curName" on-focus="editField('#curName','current.name')" on-blur="updateField('#curName','current.name')">{{current.name}}</span>
			<span id="curId" >({{current.id}})</span>
    </h2>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Account:</label>
          <input id="curFeatureAccount" type="checkbox" checked="{{current.features.account}}"> {{#current.features.account==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Enable if contacts need to be associated with a company or other organisation</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Account Financials:</label>
          <input class="" id="curFinancials" type="checkbox" checked="{{current.features.financials}}"> {{#current.features.financials==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Additional account fields</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Activity Analysis:</label>
          <input id="curFeatureActivity" type="checkbox" checked="{{current.features.activityAnalysis}}"> {{#current.features.activityAnalysis==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Displays recent activity information such as last login</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Activity Tracker:</label>
          <input id="curFeatureActivityTracker" type="checkbox" checked="{{current.features.activityTracker}}"> {{#current.features.activityTracker==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block"><em>Experimental!</em> Record actions of the user, such as login etc</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Address on Account:</label>
          <input id="curFeatureActivity" type="checkbox" checked="{{current.features.addressAccount}}"> {{#current.features.addressAccount==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Whether accounts have addresses associated</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Address on Contact:</label>
          <input id="curFeatureActivityTracker" type="checkbox" checked="{{current.features.addressContact}}"> {{#current.features.addressContact==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Whether contacts have addresses associated</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Budget:</label>
          <input id="curFeatureBudget" type="checkbox" checked="{{current.features.budget}}"> {{#current.features.budget==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Display fields to manage a contact's budget</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Company Data:</label>
          <input class="" id="curFeatureCompany" type="checkbox" checked="{{current.features.companyBackground}}"> {{#current.features.companyBackground==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Displays research information about the company</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Documents:</label>
          <input class="" id="curDocuments" type="checkbox" checked="{{current.features.documents}}"> {{#current.features.documents==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Allow documents links to be added to contacts</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">

        <li class="form-group">
          <label class="col-md-4 col-sm-4">Marketing:</label>
          <input class="" id="curDoNotEmail" type="checkbox" checked="{{current.features.marketing}}"> {{#current.features.marketing==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Display marketing information about the source of the lead</p>  
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Marketing (Digital):</label>
          <input class="" id="curDoNotEmail" type="checkbox" checked="{{current.features.marketing}}"> {{#current.features.marketingDigital==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Specifically digital marketing information about the lead</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Merge:</label>
          <input class="" id="curOptOut" type="checkbox" checked="{{current.features.merge}}"> {{#current.features.merge==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block"><em>Experimental!</em> Enable the experimental contact merge functionality</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Merge:</label>
          <input class="" id="curOptOut" type="checkbox" checked="{{current.features.multiNational}}"> {{#current.features.multiNational==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Controls country field, and perhaps in the future more</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Offers:</label>
          <input class="" id="curDoNotEmail" type="checkbox" checked="{{current.features.offers}}"> {{#current.features.offers==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Promote a stock category, usually for a limited period</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Orders:</label>
          <input class="" id="curOptOut" type="checkbox" checked="{{current.features.orders}}"> {{#current.features.orders==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Ability to record orders for one or more stock items against a contact</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Social on Account:</label>
          <input class="" id="curSupportBar" type="checkbox" checked="{{current.features.socialAccount}}"> {{#current.features.socialAccount==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Whether accounts have social media accounts</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Social on Contact:</label>
          <input class="" id="curSupportBar" type="checkbox" checked="{{current.features.socialContact}}"> {{#current.features.socialContact==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Whether contacts have social media accounts</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Stock Pricing:</label>
          <input class="" id="curSupportBar" type="checkbox" checked="{{current.features.stockPricing}}"> {{#current.features.stockPricing==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Stock item pricing</p>
        </li>
        <li class="form-group">
          <label class="col-md-4 col-sm-4">Support Bar:</label>
          <input class="" id="curSupportBar" type="checkbox" checked="{{current.features.supportBar}}"> {{#current.features.supportBar==true}}Enabled{{/}}
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block">Display the tool to raise a support call</p>
        </li>
      </ul>
    </div>
  </form>

  <form class="inline-form form" id="currentForm">
    <h2 id="filters">
      <span>Filters</span>
    </h2>
    <div class="currentBody col-md-12 col-sm-12 col-xs-12">
      <table class="table table-striped">
        <tbody>
          <tr><th>Stages deemed 'inactive':</th><td>{{current.serviceLevel.inactiveStages}}</td></tr>
        </tbody>
      </table>
    </div>
  </form>

  <div id="currentToolbar" style="clear: both">
    <h2 id="toolbar">Toolbar entries</h2>
    {{>statusTable { property: 'toolbar' }}}
  </div>

  <div id="currentBot" style="clear: both">
    <h2 id="bot">Bot settings</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">API Key</th>
          <!-- th class="col-md-2">API Secret</th-->
          <th class="col-md-2">Contact Mgmt URL</th>
          <th class="col-md-2">Contact Mgmt Secret</th>
          <th class="col-md-2">CC Account</th>
          <th class="col-md-2">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{current.bot.apiKey}}</td>
          <!-- td>{{current.bot.apiSecret}}</td-->
          <td>{{current.bot.custMgmtUrl}}</td>
          <td>{{current.bot.custMgmtSecret}}</td>
          <td>{{current.bot.ccAccount}}</td>
          <td>
            {{# current.bot.valid==true}}
              <span class="glyphicon glyphicon-ok-sign glyphicon-success" id="curBotValid" title="Deployed and ready"></span>
            {{else}}
              <span class="glyphicon glyphicon-remove-sign glyphicon-danger" id="curBotInvalid" title="Missing or out of date"></span>
              {{#if current.bot.apiKey}}
                <span class="glyphicon glyphicon-repeat" id="curBotCreate" on-click="createBot(true)" title="Re-create the bot user"></span>
              {{else}}
                <span class="glyphicon glyphicon-repeat" id="curBotCreate" on-click="createBot(false)" title="Create the missing bot user"></span>
              {{/if}}
            {{/}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {{#contactActions}}
    <div id="currentActions" style="clear: both">
      <h2 id="contactActions">Actions</h2>
      {{>statusTable { property: 'contactActions' }}}
    </div>
  {{/}}

  <div id="currentProcesses" style="clear: both">
    <h2 id="processes">Processes</h2>
    {{>statusTable { property: 'processes' }}}
  </div>

  <div id="currentPartials" style="clear: both">
    <h2 id="partials">Partials</h2>
    {{>statusTable { property: 'partials' }}}
  </div>
    
  <div id="currentSLAs" style="clear: both">
    <h2 id="slas">Service Level Alerts</h2>
    <table class="table table-striped">
      <thead>
	      <tr><th>Name</th><th>Value (days)</th></tr>
      </thead>
      <tbody>
	      <tr><td>Inactivity Reminder Threshold</td><td>{{current.serviceLevel.inactivityReminderThreshold}}</td></tr>
        <tr><td>Inactivity Threshold</td><td>{{current.serviceLevel.inactivityThreshold}}</td></tr>
	      <tr><td>Initial Response Threshold</td><td>{{current.serviceLevel.initialResponseThreshold}}</td></tr>
	    </tbody>
    </table>
  </div>
  <div id="currentTemplates" style="clear: both">
    <h2 id="templates">Templates</h2>
    {{>statusTable { property: 'templates' }}}
  </div>
      
  <div id="currentTypeaheadControls" style="clear: both">
    <h2 id="typeaheads">Typeahead controls</h2>
    {{>statusTable { property: 'typeaheadControls' }}}
  </div>

</section>
