<div class="btn-group" role="group" aria-label="...">
  <a class="btn btn-default" href="#bot" title="Jump to Bot settings">Bot</a>
	<!-- a class="btn btn-default" href="#contactActions" title="Jump to Contact Actions">Contact Actions</a-->
	<a class="btn btn-default" href="#features" title="Jump to Features">Features</a>
  <a class="btn btn-default" href="#filters" title="Jump to Filters">Filters</a>
	<a class="btn btn-default" href="#partials" title="Jump to Partials">Partials</a>
	<a class="btn btn-default" href="#processes" title="Jump to Processes">Processes</a>
	<a class="btn btn-default" href="#slas" title="Jump to Service Level Alerts">SLAs</a>
	<a class="btn btn-default" href="#templates" title="Jump to Templates">Templates</a>
	<a class="btn btn-default" href="#toolbar" title="Jump to Toolbar">Toolbar</a>
	<a class="btn btn-default" href="#typeaheads" title="Jump to Typeaheads">Typeaheads</a>
</div>