<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Role</th>
      <th class="col-md-6">Description</th>
      <!-- th>Version</td-->
      <th class="col-md-2">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each current[property]:i}}
      <tr data-href="{{_links.self.href}}">
        <td>{{i+1}}</td>
        <td class="col-md-2">{{name}}</td>
        <td class="col-md-2">{{#role==undefined || role==''}}any{{else}}{{role}}{{/}}</td>
        <td class="col-md-6">{{description}}</td>
        <!-- td>{{version}}</td-->
        <td>
          {{# valid==true}}
            <span class="glyphicon glyphicon-ok-sign glyphicon-success" title="Deployed and ready"></span>
          {{else}}
            <span class="glyphicon glyphicon-remove-sign glyphicon-danger" title="Missing or out of date"></span>
          {{/}}
          {{#if property == 'processes'}}
            <span class="glyphicon glyphicon-repeat" on-click="deployProcess(this)" title="(Re)Deploy the process"></span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>