<a id="tenantsTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the tenant table"></a>
<span>Tenants</span>
<a class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="add()" title="Add a new tenant"></a>
<a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching tenants"></a>
<a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <a class="clickable glyphicon glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
  </a>
  <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
    <li on-click="filter:{idx:1}">Show All</li>
    <li on-click="filter:{idx:2,field: 'stage', operator: '!in', value: 'Cold,Complete'}">Show Active</li>
    <li class="divider"></li>
    {{#stages:i}}
      <li on-click="filter:{idx:{{4+i}},field: 'stage', value: '{{id}}'}">{{name}}</li>
    {{/stages}}
    <li class="divider"></li>
    {{#enquiryTypes:j}}
      <li on-click="filter:{idx:{{4+stages.length+j}},field: 'enquiryType', value: '{{id}}'}">{{name}}</li>
    {{/}}
    <li class="divider"></li>
    {{#accountTypes:k}}
      <li on-click="filter:{idx:{{4+stages.length+enquiryTypes.length+k}},field: 'accountType', value: '{{id}}'}">{{name}}</li>
    {{/accountTypes}}
  </ul>
</a>
