<ul>
  <li class="form-group">
    <label for="when">Title</label>
    <input class="form-control" id="businessKey" placeholder="Name the task" required value="{{instanceToStart.businessKey}}">
    <p class="help-block field-hint field-error">Please provide an identifying name</p>
  </li>
  <li class="form-group">
    <label for="when">When</label>
    <input type="date" class="form-control" id="when" placeholder="Pick when to be reminded" required value="{{instanceToStart.processVariables['when']}}">
    <p class="help-block field-hint field-error">Please pick when to be reminded.</p>
  </li>
  <li class="form-group">
    <label for="what">What</label>
    <textarea class="form-control" id="what" placeholder="Type yourself a reminder of what to do here if you like." value="{{instanceToStart.processVariables['what']}}"></textarea>
    <p class="help-block field-hint field-error"></p>
  </li>
</ul>
