<div class="profile pull-right">
  <form name="logoutForm" action="/logout" method="POST">
    <span class="user">{{#tenant}}{{tenant.id}}{{else}}omny{{/}}</span>
    <span id="tenantId" class="replaceable super-admin" contenteditable="true" onblur="ractive.switchToTenant($('#tenantId').text())" name="tenantId" value="{{tenant == null ? 'Click to set' : tenant.id}}"></span>
    <a href="/profile.html" title="To set your profile picture, please visit gravatar.com">
      <span class="profile-img">Logged in as: {{username}}</span>
    </a>
    <a class="clickable glyphicon glyphicon-log-out" aria-hidden="true" on-click="logout()"></a>
    <a class="clickable glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#helpModal"></a>
    <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
  </form>
</div>