<div class="profile pull-right">
  <form name="logoutForm" action="/logout" method="POST">
    <span id="tenantId" class="replaceable super-admin tenant" contenteditable="true" onblur="ractive.switchToTenant($('#tenantId').text())" value="{{#tenant}}{{tenant.id}}{{else}}Click to set{{/}}"></span>
    <a href="/me.html" title="To set your profile picture, please visit gravatar.com">
      <span class="profile-img">{{username}}</span>
    </a>
    <a class="logout glyphicon glyphicon-log-out" aria-hidden="true" on-click="logout()"></a>
    <a class="glyphicon glyphicon-question-sign" aria-hidden="true" on-click="showHelp()"></a>
  </form>
</div>