<div class="profile pull-right">
  <form name="logoutForm" action="/logout" method="POST">
    {{#if matchRole('super_admin')}}
      <select class="super-admin tenant" on-change="switchToTenant()">
        {{#profile.allowedTenantsAsList}}
          <option value="{{.}}" {{#if . == tenant.id}}selected{{/if}}>{{.}}</option>
        {{/}}
      </select>
    {{/if}}
    <a href="{{#context}}/{{context}}{{/}}/me.html" title="To set your profile picture, please visit gravatar.com">
      <span class="profile-img">{{username}}</span>
    </a>
    <a class="logout glyphicon glyphicon-btn glyphicon-log-out" aria-hidden="true" on-click="logout()"></a>
    <a class="glyphicon glyphicon-btn glyphicon-question-sign" aria-hidden="true" on-click="showHelp()"></a>
  </form>
</div>