<h2 class="form">
  <span>Enquiry</span>
</h2>
<div>
  {{#current.processVariables.gardenatics_enquiry.message}}
    <p class="col-md-12 bg-info text-info">Message: {{current.processVariables.gardenatics_enquiry.message.string}}</p>          
  {{/}}
</div>
<div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Phone:</label>
      <input class="form-control" id="curPhone" disabled readonly value="{{current.processVariables.contact.phone1}}"></li>
    <li><label class="col-md-5">Email:</label>
      <input class="form-control" id="curEmail" disabled readonly value="{{current.processVariables.contact.email}}"></li>
    <li><label class="col-md-5">Budget:</label>
      <input class="autoNumeric form-control" data-a-sign="£ " id="curBudget" on-blur="saveContact()" value="{{current.processVariables.contact.customFields['budget']}}"></li>
    <li><label class="col-md-5">Discussed budget?:</label>
      <input class="" id="curDiscussedBudget" on-blur="saveContact()" type="checkbox" checked="{{current.processVariables.contact.customFields['discussedBudget']}}"></li>
  </ul>
</div>
<div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Address:</label>
      <input class="form-control" id="curAddress1" on-blur="saveContact()" required value="{{current.processVariables.contact.address1}}"></li>
    <li><label class="col-md-5"></label>
      <input class="form-control" id="curAddress2" on-blur="saveContact()" value="{{current.processVariables.contact.address2}}"></li>
    <li><label class="col-md-5">Town:</label>
      <input class="form-control" id="curTown" on-blur="saveContact()" value="{{current.processVariables.contact.town}}"></li>
    <li><label class="col-md-5">City or County:</label>
      <input class="form-control" id="curCountyOrCity" on-blur="saveContact()" value="{{current.processVariables.contact.countyOrCity}}"></li>
    <li><label class="col-md-5">PostCode:</label>
      <input class="form-control" id="curPostCode" on-blur="saveContact()" required value="{{current.processVariables.contact.postCode}}"></li>
  </ul>
</div>

<h2 class="form">
  <span>Partner Info</span>
</h2>
<div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Partner:</label>
      <input class="typeahead form-control" id="curPartner" on-blur="saveContact()" required value="{{current.processVariables.contact.customFields['partner']}}"></li>
  </ul>
</div>
<div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Appointment Date:</label>
      <input class="datepickerdis form-control" id="curAppointmentDate" on-blur="saveContact()" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm//yyyy"  value="{{current.processVariables.contact.customFields['appointmentDate']}}"></li>
    <li><label class="col-md-5">Appointment Time:</label>
      <input class="form-control" id="curAppointmentTime" on-blur="saveContact()" pattern="[0-9]{2}:[0-9]{2}" placeholder="hh:mm" value="{{current.processVariables.contact.customFields['appointmentTime']}}"></li>
  </ul>
</div>

<h2 class="form">
  <span>More...</span>
</h2>
<div class="col-md-12">
  <ul class="form edit-form">
    <li><textarea id="note" on-blur="saveNote()" placeholder="Type your note here" style="width:93.6%;" value="{{current.note}}"></textarea></li>
    <li><a href="http://api.omny.link:8082/index.html?id={{current.processVariables.contactId}}">Open in Customer Management</a></li>
  </ul>
</div>

<h2 class="form">
  <span>Next Steps</span>
</h2>
<div class="col-md-12">
  <p class="col-md-12 bg-info text-info">Typically the enquiry will either go forward to an appointment, go cold or need following up (for example if you cannot reach either prospect or partner).</p>          
</div>
<!-- <div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Stage:</label>
      <input class="typeahead" placeholder="Start typing to filter options" id="curStage" on-blur="reviseValidation()" value="{{current.processVariables.stage}}"></li>
  </ul>
</div> 
<div class="col-md-6">
  <ul class="form edit-form">
    <li><label class="col-md-5">Follow Up On:</label>
      <input class="datepickerdis" id="curFollowUpDate" on-blur="saveContact()" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm/yyyy" value="{{current.processVariables.followUpDate}}"></li>
  </ul>
</div>-->
