/* FONTS */ 


/* END FONTS */

/*
 * COLOURS
 *
 * red: #d71921
 * dark red: #b11c0c
 * pale brown: #ad8b3d
 * brown: #4b3923
 * gold: #e3ce02
 */

body {
  color: #4b3923;
}
h1 { 
  color: #b11c0c;
}
section h2,
section h3 {
  border-bottom: solid 1px #ad8b3d;
  color: #b11c0c;
}
section h2 .search {
  bottom: 5px;
}
section h2 .glyphicon-search {
  top: 1px;
}
section h2 .search,
section h2 .entity,
section h2 .file {
  background-color: #efefef;
  border-color: #4b3923;
  color: #4b3923;
}
section h3 {
	font-size: 20px;
}
a.glyphicon,
a.glyphicon:visited,
.glyphicon,
.glyphicon:visited, 
h2 a.glyphicon, 
h2 a.glyphicon:visited {
  color: #4b3923;
}
section h2 a.glyphicon:hover,
section h2 a.glyphicon:focus,
section h2 .glyphicon:hover,
section h2 .glyphicon:focus,
a.glyphicon:hover,
a.glyphicon:focus,
.glyphicon:hover,
.glyphicon:focus {
  color: #ad8b3d;
}
h1.navbar-top span {
    padding-left: 20px;
}
.navbar-brand img {
  height: 70px;
}
/* END BOOTSTRAP OVERRIDES */

.omny-bar {
  color: #b11c0c;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  color: #fcf8e3;
  background-color: #b11c0c;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
  border-bottom-color: #b11c0c;
}

.support-bar {
  background-color: #b11c0c;
}
.support-bar .glyphicon {
  color: #e3ce02; /* gold */
}
