body {
  height: 100%;
}
#container { 
  margin: 20% 15% 20% 15%;
}
.tile { 
  height: 160px;
}
.tile:nth-child(1) { 
  #background-color: #e2e2e2;
  ###border: 1px #e2e2e2 double;
  #height: 100%;
  border-right: 2px solid #e2e2e2;
}
.tile-row:nth-child(2) { 
  border-top: 2px solid #e2e2e2;
}
