/* START BOOTSTRAP OVERRIDES */

body {
  color: #0060ad;
  font-family: Verdana, Arial, sans-serif;
}
section h2 {
  border-bottom: solid 1px #0060ad;
}
/* END BOOTSTRAP OVERRIDES */

.clickable:hover {
	cursor: pointer; 
}
