/* FONTS */ 
@import url('//fonts.googleapis.com/css?family=Roboto:400italic,400,700');
@font-face {
  font-family: 'barmenoregular';
  src: url('/webjars/barmeno/1.0.0/barmeno_regular-webfont.eot');
  src: url('/webjars/barmeno/1.0.0/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/webjars/barmeno/1.0.0/barmeno_regular-webfont.woff') format('woff'),
       url('/webjars/barmeno/1.0.0/barmeno_regular-webfont.ttf') format('truetype'),
       url('/webjars/barmeno/1.0.0/barmeno_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange:    ff6c06;
 *   blue:      0e9acd;
 *   pale blue: 59C4ED
 *   grey:      949699;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #646669;
  font-family: Roboto/*CalibriRegular*/;
  font-size: 16px;
}
h1 { 
	color: #0e9acd;
}
h2 { 
	font-size: 24px;
}
h3 { 
  font-size: 24px;
}
h4 { 
  font-size: 20px;
  border-bottom: 3px double #949699;
}
h5,
legend {
  border-bottom: 1px solid #949699;
  font-size:16px;
}
img.entity-context {
  width: 90%;	
}
input,select,textarea { 
	border-color: #ccc;
  line-height:1.4em;
	padding: 0 10px 0 10px;
}
input.field-error:invalid,
select.field-error:invalid,
textarea.field-error:invalid {
  border: solid 3px #f33;
}

/* TODO not used ? */
input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  border: solid 3px #f33 ;
}

input ~ .field-hint,
select ~ .field-hint,
textarea ~ .field-hint {
  visibility: hidden ;
  line-height: 0em;
}

input[type='checkbox'] ~ .help-block {
	margin-top: -1em;
}

input:focus:invalid ~ .field-hint,
select:focus:invalid ~ .field-hint,
textarea:focus:invalid ~ .field-hint {
  color: #f33 ;
  visibility: visible ;
  line-height: 1.5em;
}
input:readonly,
select:readonly,
textarea:readonly {
  background-color: #cbcbcb;
}
textarea.form-control {
  margin-left:5px;
}
label.required::after {
  color: red;
  content: '*';
}
section .active {
	display: inline;
}
section h2 {
  border-bottom: solid 1px #ff6c06;
  color: #0e9acd;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
	section:nth-of-type(1) h2 {
    height: 85px;
	}
  section h2 div {
    height: 40px;
  }
}
@media (min-width: 768px) {
  section:nth-of-type(1) h2 {
    height: 45px;
  }
}
section h2 .search {
/*margin-bottom: 10px;*/
  margin-right: 0;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #0e9acd;
  width: 45%;
}
section h2 .glyphicon {
  margin-top: -10px;
}
section h2 .glyphicon-search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  font-size: 20px;
  margin-left: 0px;
  position: relative;
  left: -7px;
  top: 1px;
}
section h2 .entity {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: #0e9acd;
  padding-right: 0;
  /*margin-bottom: 10px;*/
  margin-right: -1px;
  margin-top: -5px;
  width: 110px;
}
section h2 .file {
  border-radius: 0 !important;
  border-color: #0e9acd;
  /*margin-bottom: 10px;*/
  margin-left: 0;
  margin-right: 0;
  margin-top: -5px;
  width: 110px;
}
section h2 .glyphicon-import {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	font-size: 20px;
	margin-left: 0px;
	position: relative;
	left: -1px;
	top: 5px;
}
section h3 {
  border-bottom: solid 1px #ff6c06;
  padding-left: 20px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}
.table-striped>tbody>tr:nth-of-type(odd).overdue {
	background-color: rgba(255,0,0,0.4);
}
.table-striped>tbody>tr:nth-of-type(even).overdue {
  background-color: rgba(255,0,0,0.3);
}
.table-striped>tbody>tr:nth-of-type(odd).due {
  background-color: rgba(255,100,0,0.4);
}
.table-striped>tbody>tr:nth-of-type(even).due {
  background-color: rgba(255,100,0,0.3);
}
th { 
	font-weight: bold;
}
tfoot th {
	font-style: italic;
  font-weight: normal;
  text-align: center; 	
}
.a-primary-label {
  font-weight:bold;
  text-decoration: underline; 
}

.a-primary-data {
}

.a-secondary-label {
  font-weight:bold; 
}

.a-secondary-data {
}

.admin,
.super-admin,
.tenant,
.user { 
  display: none;
  font-size: 16px;
}
#ajax-loader img.ajax-loader {
  position: fixed;
  left: 55%;
  top: 44%;
  width: 80px;
  z-index: 200; 
}
#ajax-loader span {
	font-size: 3.5em;
  left: 39%;
  position: fixed;
  top: 45%;
  z-index: 200;
}
.beta {
  border: solid 1px #ff6c06;
  color: #ff6c06;
  display:none;
  font-family: barmenoregular, sans-serif;
  font-style: italic;
  line-height: 1.1em;
  padding: 0;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 10px;
  width: 40px;  
}
.btn {
  min-width: 80px;
}
.btn-h2 {
  margin-top: -7px;
}
.chosen-container {
  left: -7px;
}
.col-actions {
  min-width: 101px !important;
}
.col-truncate {
	width: 200px;
  text-overflow: ellipsis;
}
.field-age { 
	width:15%
}
.field-author { 
  width:50px;
}
.field-text { 
}
.form-control {
  border-radius: 0;
}
input[type="checkbox"].form-control:focus {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
}
.glyphicon { 
	font-size: 20px;
  border: solid 1px;
  padding: 6px;
  margin: 3px;
  border-radius: 5px;
  color: #0e9acd;
}
.glyphicon-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.glyphicon-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #949699;
  text-decoration: none;
}
.input-group-addon .glyphicon {
  font-size: 16px;
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px !important;
}
.clickable:focus,
.clickable:hover,
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #ff6c06;
  /*color: #646669;*/
}
.sort-asc,
.sort-desc {
  border: none;
  font-size: .7em;	
}
.sort-asc::after {
  content: '\e253';
}
.sort-desc::after {
  content: '\e252';
}
.help-block { 
  font-size: 0.65em;
  font-style: italic;
	line-height: 1em;
	margin-bottom: 0.1em;
	margin-top: 0.3em;
	padding-left: 5px;
}
.help-block-lg {
  line-height: 1.2em;
  font-size: 0.8em;
}
.navbar-brand { 
	padding: 0;
  position: relative;
  top: -18px;  
}
.navbar-brand img {
  height: 79px;	
}
.navbar-top {
	 background-color:white;
	 z-index:200;
	 position:relative;
	 margin-top: 0;
   padding-top: 20px;
}
.navbar-sticky {
  background-color: white;
  padding-left: 0;
  position: fixed;
  left: auto;
  right: auto;
  top: 0;
  z-index: 100;
}
.navbar-sticky h2 { 
  margin-top:0;
}
.navbar-sticky h2 span.profile-img {
  font-size: 16px;
}

.search {
	border-radius:15px;
	width:100px;
	display:inline;
	position:relative;
	bottom:5px;	
}
/* END BOOTSTRAP OVERRIDES */

/* OMNY BAR */

.omny-bar {
  background-color: #fcf8e3;
  color: #ff6c06;
  position: fixed;
}
.omny-bar-left {
  border-bottom-style: none;
  border-right-style: double;
  border-top-style: none;
  bottom: 0;
  display:none;
  left: 0px;
  top: 0;  
  width: 50px;
}
.omny-bar-left .page {
	position: relative;
	top: 20px;
}
.omny-bar-left .powered-by-icon img {
  position: fixed;
  bottom: 10px;
  width: 40px;
}
.omny-bar li.admin-bar span {
  /*color: red;*/
}
.omny-bar li {
  list-style: none;
  margin-left: -36px;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  color: #fcf8e3;
  background-color: #ff6c06;
}
.omny-bar li span:not(.active) {
  border: 0px;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
  border-bottom: solid 1px #ff6c06;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.omny-bar li:last-child span {
  border-bottom: 0;
}

.omny-bar-top {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-style: double;
  border-right-style: double;
  border-left-style: double;
  left: 20%;
  top: 0%;
  width: 750px;
  padding-left: 20px;
  right: 20%;
}

.omny-bar-top ul>li {
  float: left;
  position: relative;
  display: block;
}
.omny-bar-top ul>li>a {
	border-radius: 4px;
  position: relative;
  display: block;
  padding: 5px 7px;
}
.omny-bar-top ul>li+li {
  margin-left: 2px;
}
.omny-bar-top .glyphicon {
	padding: 10px
}

.omny-burger {
  /*border-bottom-style: double;
  border-right-style: double;*/
	left: 0px;
	position: fixed;
	top: 0px;
}

/* END OMNY BAR */

.clickable:active,
.clickable:focus,
.clickable:hover {
	cursor: pointer;
}
.currentBody { 
	margin-top: 10px;
}
.omny-filter.dropdown-menu li:nth-child(1) {
  margin-top: 10px;
}
.omny-dropdown.dropdown-menu li {
	height: 25px;
	padding-left: 10px;
}
.omny-dropdown.dropdown-menu li.selected::after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  float: right;
  margin-right: 10px;
}
.omny-dropdown.dropdown-menu li.divider {
  background-color: #ff6c06;
	height: 1px;
  margin: 0 10px 10px 10px;
}
#customActionBtn {
	top: 1px;
}
#customActionMenu.omny-dropdown {
	left: -100px;
}
#filterMenu.omny-dropdown {
  width: 200px;
}
.form { 
	display: block;
	list-style: none;
  /*padding-top: 20px;
  margin-bottom: -30px;*/
}
.form,
#loginForm,
#messages {
  line-height: 2.5em;
}
form#upload {
	min-width: 263px;
}
.form li { 
	/*margin: 5px 0 5px;*/
}
.form label, .form input {
  display:inline-block;
  /*top: -25px*/
}
.form-inline label,
.form label {
  padding-right: 10px;
  text-align: right;
}
.form .col-md-6 label {
	margin-bottom: 0;
	width: 33%;
}
.form label.textarea {
  vertical-align: top;
}
.form .col-md-6 label.textarea {
  /*width: 17%;*/
}
.form label.checkbox,
.form label.radio {
	width:10%;
}
.form input,
.form select {
	width: 60%;
}
.form input[type='checkbox'],
.form input[type='radio'] {
  margin-top:10px;
  width: 20px;
}
.form input.year {
	width:80px;
}
h2.form.create-form {
	color:white;
	padding-bottom: 8px;
}
.form input.create-field { 
  border-width: 1px;
  margin: 5px;
}
.form input#curTitle {
	border-radius: 0;
  line-height: normal;
  width: 70px;
}
.form input#curFirstName,
.form input#curLastName {
  line-height: normal;
	width: 40%;
}
.form input.edit-field { 
  border-width: 1px;
}
.form .typeahead {
/*	position: relative;
	left: -5px;*/
}
.form .tagit {
  width: 60%;
  float: right;
  left: -30px;
  position: relative;
}
.form .tagit input {
	font-size: 0.85em;
}
.form .col-md-12 textarea {
  width: 80%;	
}
.form .col-md-6 textarea {
  width: 60%; 
}
ul.form,
.form ul {
	padding-left: 0px;
}
h4 a.glyphicon-remove {
  position: relative;
  top: -12px;
}
a.glyphicon-remove {
  padding: 4px 6px;
}
.powered-by { 
  display:none;
  float: left;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  top: 290px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
.powered-by h1 {
  margin:0px;
}
.powered-by-text { 
	color:#6f6f71;
	font-size:14px;
	font-style:italic;
}
.profile { 
	font-style: italic;
	position: relative;
	z-index: 250;
}
.navbar-top .profile .tenant {
	display:inline;
}
.profile-img img { 
	margin-top: -9px;
}
.wizard { 
	clear: both; 
	margin-top: 50px;
}
.wizard-step li a {
	border-radius: 40px;
  border: #59C4ED solid 1px;
  padding: 5px 15px;
  margin-right: 50px;
}
#messages { 
  position: fixed;
  top: 45px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 10px 0 10px;
  width: 50%;
  z-index: 500;
}
#messages.text-danger { 
  font-style: italic;
}

/* MODALS */

.modal-dialog { 
	width: 80%;
	height: 80%;
}

/* SVG DIAGRAMS */

text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  stroke-width: 0px;
}
text.endEvent,
text.intermediateCatchEvent,
text.intermediateThrowEvent,
text.startEvent {
	/*fill: #0e9acd;*/
	fill: #666;
	stroke-width: 0px;
}

text.callActivity,
text.businessRuleTask,
text.manualTask,
text.receiveTask,
text.scriptTask,
text.sendTask,
text.serviceTask,
text.userTask {
  fill: #fff;
  stroke-width: 0px;
}

#funnel text {
	fill: #ff6c06 !important;
}
#propertySectMin {
  background-color: #fcf8e3;
  border: #ff6c06 double 3px;
  bottom: 0;
  display: none;
  position: fixed;
  right:5%;
}
#propertySectMin .glyphicon {
	border:none;
}

#propertySect {
	background-color: #fcf8e3;
	border: #ff6c06 double 3px;
  display:'inline';
  padding: 20px;
  position: fixed;
  z-index:'100';
  bottom: 0;
  left: auto;
  right: auto;
  height: 150px;
  width: 90%;
}
#propertySect .close {
  top: -20px;
  right: -20px;
  border: none;
}

.selected {
  stroke: #ff6c06;
  stroke-width: 3px;	
}

/* END SVG DIAGRAMS */

/* COMPANIES HOUSE */

#fhTable th:nth-child(1) {
  width: 100px;
}
#fhTable th:nth-child(4) {
  width: 150px;
}

/* ICONS */ 

@font-face {
  font-family: 'omny';
  src:url('/webjars/omny/1.0.0/omny.eot?-drx6ig');
  src:url('/webjars/omny/1.0.0/omny.eot?#iefix-drx6ig') format('embedded-opentype'),
    url('/webjars/omny/1.0.0/omny.woff?-drx6ig') format('woff'),
    url('/webjars/omny/1.0.0/omny.ttf?-drx6ig') format('truetype'),
    url('/webjars/omny/1.0.0/omny.svg?-drx6ig#omny') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="omny-icon-"], [class*=" omny-icon-"] {
  font-family: 'omny';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.omny-icon-process-model:before {
  content: "\e600";
}

.omny-icon-domain-model:before {
  content: "\e601";
}

.omny-icon-newspaper:before {
  content: "\e904";
}

.omny-icon-profile:before {
  content: "\e923";
}

.omny-icon-phone:before {
  content: "\e942";
}

.omny-icon-phone-hang-up:before {
  content: "\e943";
}

.omny-icon-address-book:before {
  content: "\e944";
}

.omny-icon-envelop:before {
  content: "\e945";
}

.omny-icon-calendar:before {
  content: "\e953";
}

.omny-icon-user:before {
  content: "\e971";
}

.omny-icon-users:before {
  content: "\e972";
}

.omny-icon-user-plus:before {
  content: "\e973";
}

.omny-icon-user-minus:before {
  content: "\e974";
}

.omny-icon-briefcase:before {
  content: "\e9ae";
}

.omny-icon-clipboard:before {
  content: "\e9b8";
}

.omny-icon-tree:before {
  content: "\e9bc";
}

.omny-icon-make-group:before {
  content: "\ea58";
}

/* ICON OVERRIDES */

.omny-icon-domain-model {
  font-size: 24px;
}
.omny-icon-process-model {
  font-size: 16px;
}

/* END ICONS */

/* ANALYTICS */

#funnelResultSect {
	font-size: 1.2em;
}
#funnelResultLegend2 {
  position:relative;
  left:30px;
}
.funnel-legend {
	position: absolute;
	left: 100px;
}
.funnel-legend#stage1 {
  top: 190px;
}
.funnel-legend#stage2 {
  top: 310px;
}
.funnel-legend#stage3 {
  top: 430px; 
}
.funnel-legend#stage4 {
  top: 550px; 
}
.funnel-legend#stage5 {
  top: 670px; 
}
/* END ANALYTICS */

@media print {
  .beta,
  .omny-bar,
  .profile {
    display:none;
  }
}

