$omny-icon-process-model: "\e600";
$omny-icon-domain-model: "\e601";
$omny-icon-newspaper: "\e904";
$omny-icon-profile: "\e923";
$omny-icon-phone: "\e942";
$omny-icon-phone-hang-up: "\e943";
$omny-icon-address-book: "\e944";
$omny-icon-envelop: "\e945";
$omny-icon-calendar: "\e953";
$omny-icon-user: "\e971";
$omny-icon-users: "\e972";
$omny-icon-user-plus: "\e973";
$omny-icon-user-minus: "\e974";
$omny-icon-briefcase: "\e9ae";
$omny-icon-clipboard: "\e9b8";
$omny-icon-tree: "\e9bc";
$omny-icon-make-group: "\ea58";
