.p-messages {
  padding:10px;
  margin-bottom: 10px;
}
.btn:disabled,.p-disabled { 
  border: 1px solid #777;
  background-color: #ccc;
}
.p-error, .p-mandatory { 
  color: #f00;
}
.p-success { 
  border: 1px solid #77ff77;
  background-color: #ccffcc;
}

:invalid { 
  border: solid 1px #f99 !important;
}

:focus:invalid { 
  border: solid 1px #f00 !important;
}

label { 
  font-weight: bold; 
}

