<ul class="form edit-form">
  <li class="form-group">
	  <label class="col-md-3 col-sm-3 col-xs-4 control-label required">{{#tenant.strings.stockItem}}{{tenant.strings.stockItem}}{{else}}Stock Item{{/}}:</label>
	  <input class="col-md-9 col-sm-9 col-xs-8 form-control" list="stockItems" id="orderStockItem" 
        placeholder="Please select a {{#tenant.strings.stockItem}}{{tenant.strings.stockItem.toLowerCase()}}{{else}}stock item{{/}}" 
        required type="text" value="{{instanceToStart.processVariables.orderItem.stockItemName}}">
	  <p class="col-md-offset-3 col-sm-offset-3 col-xs-offset-4 help-block">Please select the {{#tenant.strings.stockItem}}{{tenant.strings.stockItem.toLowerCase()}}{{else}}stock item{{/}} to add to the {{#tenant.strings.order}}{{tenant.strings.order.toLowerCase()}}{{else}}Order{{/}}</p>
	</li>
  {{#tenant.strings.orderItemPriceHint}}
    <li class="form-group">
      <label class="col-md-3 col-sm-3 col-xs-4 required">Price:</label>
      <input class="col-md-9 col-sm-9 col-xs-8 form-control" id="orderStockItem" required type="number" value="{{instanceToStart.processVariables.orderItem.price}}">
      <p class="col-md-offset-3 col-sm-offset-3 col-xs-offset-4 help-block">{{#tenant.strings.orderItemPriceHint}}{{tenant.strings.orderItemPriceHint}}{{else}}Price for the {{tenant.strings.orderItem}}{{/}}:</p>
    </li>
  {{/}}
  {{#each tenant.orderItemFields:k}}
    <li class="form-group">
      <label class="col-md-3 col-sm-3 col-xs-4">{{label == undefined ? name.toLabel() : label}}:</label>
      <input class="col-md-9 col-sm-9 col-xs-8 form-control" id="cur{{name.toLeadingCaps()}}" type="{{type}}" value="{{instanceToStart.processVariables.orderItem.customFields[name]}}">
      <p class="col-md-offset-3 col-sm-offset-3 col-xs-offset-4 help-block">{{hint}}</p>
    </li>
  {{/each}}
</ul>
<script type="text/javascript">
  $(document).ready(function() {
    if (ractive.customActionCallbacks==undefined) ractive.customActionCallbacks = $.Callbacks();
    ractive.customActionCallbacks.add(function() { ractive.select(ractive.get('current')) });
  });
  ractive.observe('instanceToStart.processVariables.orderItem.stockItemName', function(newValue, oldValue, keypath) {
    console.log('stock item changing from '+oldValue+' to '+newValue);
    if (newValue!=undefined && newValue!='' && newValue.length >0) {
      ractive.set('instanceToStart.processVariables.orderItem.stockItem',Array.findBy('name', newValue, ractive.get('stockItems')).selfRef);
    }
  });
</script>