
<ul class="form edit-form">
  <li class="form-group">
    <label for="orderName" class="col-md-2 col-sm-4 required">Name: </label>
    <input autofocus class="col-md-10 col-sm-8 form-control" id="orderName" required value="{{instanceToStart.processVariables.order.name}}">
    <p class="col-md-offset-2 col-sm-offset-4 help-block field-error">Please give the {{#tenant.strings.order}}{{tenant.strings.order.toLowerCase()}}{{else}}order{{/}} a name / reference</p>
  </li>
  <li class="form-group">
    <label for="orderDate" class="col-md-2 col-sm-4">Date: </label>
    <input class="col-md-10 col-sm-8 form-control date" id="orderDate" type="date" value="{{instanceToStart.processVariables.order.date}}">
    <p class="col-md-offeset-2 col-sm-offset-4 help-block field-error">Please choose a date for the {{#tenant.strings.order}}{{tenant.strings.order.toLowerCase()}}{{else}}order{{/}}</p>
  </li>
  <li class="form-group">
    <label class="col-md-2 col-sm-4">{{#tenant.strings.stockItem}}{{tenant.strings.stockItem}}{{else}}Stock Item{{/}}:</label>
    <input autocomplete="off" class="typeahead form-control" placeholder="Start typing to filter options" id="curStockItem" value="{{instanceToStart.processVariables.order.stockItem}}"> 
    <input id="curStockItemRef" type="hidden" value="{{stockItemId}}">
    <input id="curStockItemName" type="hidden" value="{{stockItemName}}">
    <p class="col-md-offeset-2 col-sm-offset-4 help-block">Please select the {{#tenant.strings.stockItem}}{{tenant.strings.stockItem.toLowerCase()}}{{else}}stock item{{/}} to send to your contact</p>
  </li>
  {{#tenant.show.stockPricing}}
	  <li class="form-group">
	    <label for="orderPrice" class="col-md-2 col-sm-4">Price: </label>
	    <input class="form-control autoNumeric col-md-2 col-sm-4" id="orderPrice" data-a-sign="£ " value="{{instanceToStart.processVariables.order.price}}"/>
	    <p class="col-md-offeset-2 col-sm-offset-4 help-block field-error">Please specify the price of the {{#tenant.strings.order}}{{tenant.strings.order.toLowerCase()}}{{else}}order{{/}} (may be discounted from that specified on the {{#tenant.strings.stockItem}}{{tenant.strings.stockItem.toLowerCase()}}{{else}}stock item{{/}})</p>
	  </li>
	{{/}}
  <li class="form-group">
    <label for="orderStatus" class="col-md-2 col-sm-4">Status: </label>
    <input class="form-control typeahead col-md-2" id="orderStatus" placeholder="Start typing to filter options" value="{{instanceToStart.processVariables.order.status}}"/>
    <p class="col-md-offeset-2 col-sm-offset-4 help-block field-error">Draft, Review, Shipped etc.</p>
  </li>
  {{#tenant.orderFields}}
    <li class="form-group">
	    <label for="{{key}}" class="col-md-2 col-sm-4">{{label}}: </label>
	    <input class="form-control col-md-2" id="{{key}}" value="{{instanceToStart.processVariables.order.customFields[key]}}"/>
	    <p class="col-md-offeset-2 col-sm-offset-4 help-block field-error"></p>
	  </li>
	{{/}}
</ul>

<script>
  var order = { contactId: ractive.id(ractive.get('current')), tenantId: ractive.get('tenant.id') };
  $(document).ready(function() {
    validateCustomActionForm();
    $('#submitCustomActionForm').click(function() {
      console.log('Submit custom action form');
      validateCustomActionForm();
    });
    $('#customActionForm input,#customActionForm select,#customActionForm textarea').blur(function() {
      console.log('blur custom action form field');
      validateCustomActionForm();
    });
    
    ractive.set('instanceToStart.processVariables.order', order);
  });
  
  function validateCustomActionForm() {
    console.info('validateCustomActionForm');
    $('#customActionForm input:invalid ~ .help-block,#customActionForm select:invalid ~ .help-block,#customActionForm textarea:invalid ~ .help-block').css('visibility','visible').css('color','#f33').css('line-height','1.5em');
    $('#customActionForm input:valid ~ .help-block,#customActionForm select:valid ~ .help-block,#customActionForm textarea:valid ~ .help-block').css('visibility','hidden').css('color','#f33').css('line-height','0em');
    $($('#customActionForm :invalid')[0]).focus();
  }
</script>
