<section id="feedbackSect">
  <h3>
    <span class="ol-collapse glyphicon glyphicon-btn glyphicon-triangle-right" onclick="ractive.toggleSection($(this).closest('section'))"></span>
    <span>{{#tenant.strings.feedback}}{{tenant.strings.feedback}}{{else}}Feedback{{/}}</span>
  </h3>
  <div class="col-md-12" id="currentFeedback" style="display:none">
    <form id="currentFeedbackForm">
      {{#if current.feedback==undefined || current.feedback.length==0}}
        No feedback has been submitted yet.
      {{else}}
        <div class="currentBody col-md-6 col-sm-12 col-xs-12">
          <ul class="form edit-form">
             {{#if current.feedback.description}}
               <li class="form-group">
                 <label class="col-md-4 col-sm-4">{{#tenant.strings.feedbackDesc}}{{tenant.strings.feedbackDesc}}{{else}}Feedback{{/}}:</label>
                 <input class="form-control" id="curFeedbackDescription" value="{{current.feedback.description}}">
                 <p class="col-md-offset-4 col-sm-offset-4 help-block field-error"></p>
               </li>
             {{/if}}
             {{#each tenant.feedbackFields.slice(0,Math.ceil(tenant.feedbackFields.length/2)):j}}
               <li class="form-group">
                 <label class="col-md-4 col-sm-4">{{label == undefined ? name.toLabel() : label}}:</label>
                 <input class="form-control" id="cur{{name.toLeadingCaps()}}" value="{{current.feedback.customFields[name]}}">
                 <p class="col-md-offset-4 col-sm-offset-4 help-block field-error">{{hint}}</p>
               </li>
             {{/each}}
           </ul>
         </div>
         <div class="currentBody col-md-6 col-sm-12 col-xs-12">
           <ul class="form edit-form">
             {{#if current.feedback.type}}
               <li class="form-group">
                 <label class="col-md-4 col-sm-4">Type:</label>
                 <input class="form-control" id="curFeedbackType" value="{{current.feedback.type}}">
                 <p class="col-md-offset-4 col-sm-offset-4 help-block field-error"></p>
               </li>
             {{/if}}
             {{#each tenant.feedbackFields.slice(Math.ceil(tenant.feedbackFields.length/2),tenant.feedbackFields.length):j}}
               <li class="form-group">
                 <label class="col-md-4 col-sm-4">{{label == undefined ? name.toLabel() : label}}:</label>
                 <input class="form-control" id="cur{{name.toLeadingCaps()}}" value="{{current.feedback.customFields[name]}}">
                 <p class="col-md-offset-4 col-sm-offset-4 help-block field-error">{{hint}}</p>
               </li>
             {{/each}}
           </ul>
         </div>
       {{/if}}

    </form>
  </div>
</section>
