<a id="ordersTableToggle" class="clickable glyphicon glyphicon-btn glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the order table"></a>
<span>{{#title}}{{title}}{{else}}Orders{{/}}</span>
<a class="clickable glyphicon glyphicon-btn glyphicon-plus" aria-hidden="true" on-click="add()" title="Add a new order"></a>
<a class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching orders"></a>
<a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <a class="clickable glyphicon glyphicon-btn glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
  </a>
  <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
    <li on-click="filter:{idx:1,value:''}">Show All</li>
    <li on-click="filter:{idx:2,value:'active'}">Show Active</li>
    <li on-click="filter:{idx:3,value:'!active'}">Show Inactive</li>
    <li class="divider"></li>
    <li on-click="filter:{idx:5,value:'updated>{{daysAgo(7)}}'}">Recently updated</li>
    <li on-click="filter:{idx:6,value:'date>{{daysAgo(7)}}'}">Recently confirmed</li>
    {{#if tenant.features.stage}}
      <li class="divider"></li>
      {{#orderStages:i}}
        <li on-click="filter:{idx:{{8+i}}, value:'stage:{{name.toLowerCase().replace(/ /g,'_')}}'}">{{name}}</li>
      {{/}}
    {{/if}}
    {{#if tenant.features.catalog && stockItems.length < 9}}
      <li class="divider"></li>
      {{#stockItems:i}}
        <li on-click="filter:{idx:{{8+i}}, value:'{{name}}'}">{{name}}</li>
      {{/}}
    {{/if}}
  </ul>
</a>
