<section id="orderItemsSect">
  <h3>
    <span class="ol-collapse glyphicon glyphicon-triangle-right" onclick="ractive.toggleSection($(this).closest('section'))"></span>
    <span>{{#tenant.strings.orderItems}}{{tenant.strings.orderItems}}{{else}}Order Items{{/}}</span>
    <span class="alert-counter alert-info">{{current.orderItems.length}}</span>
  </h3>
  <div class="col-md-12" id="currentOrderItems" style="display:none">
    <form id="currentOrderItemForm">
      {{#if current.orderItems==undefined || current.orderItems.length==0}}
        None
      {{else}}
        <table class="ol-order-items table table-striped">
          <thead>
            <tr>
              {{#matchRole('super_admin')}}
                <th></th>
              {{/}}
              <th title="{{#tenant.strings.stockItemHint}}{{tenant.strings.stockItemHint}}{{else}}Stock item{{/}}">{{#tenant.strings.stockItem}}{{tenant.strings.stockItem}}{{else}}Stock Item{{/}}</th>
              {{#tenant.orderItemFields}}
                <th title="{{hint}}">{{label == undefined ? key.toLabel() : label}}</th>
              {{/}}
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#current.orderItems:j}}
              <tr>
                {{#matchRole('super_admin')}}
                  <td>{{current.orderItems[j].id}}</td>
                {{/}}
                <td on-click="toggleEditOrderItem(current.orderItems[j],j)">
                  <span title="{{#tenant.strings.stockItemHint}}{{tenant.strings.stockItemHint}}{{else}}Stock item{{/}}">{{#stockItem}}{{stockItem.name}}{{else}}n/a{{/}}</span>
                  <input class="hidden form-control stock-item-typeahead typeahead" placeholder="{{#tenant.strings.stockItemHint}}{{tenant.strings.stockItemHint}}{{else}}Stock item{{/}}" title="{{#tenant.strings.stockItemHint}}{{tenant.strings.stockItemHint}}{{else}}Stock item{{/}}" value="{{stockItem}}"/>
                </td>
                {{#tenant.orderItemFields}}
                  <td on-click="toggleEditOrderItem(current.orderItems[j],j)" class="{{type}}">
                    {{#if type=='date'}}
                      <span title="{{hint}}">{{formatDate(customFields[key])}}</span>
                      <input class="hidden form-control" placeholder="yyyy-mm-dd" type="date" title="{{hint}}" value="{{customFields[key]}}">
                    {{else}}
                      <span title="{{hint}}" >{{customFields[key]}}</span>
                      <input class="hidden form-control" placeholder="{{hint}}" title="{{hint}}" type="{{type}}" value="{{customFields[key]}}">
                    {{/if}}
                  </td>
                {{/}}
                <td class="actions">
                  <a class="glyphicon glyphicon-pencil" aria-hidden="true" on-click="toggleEditOrderItem(current.orderItems[j],j)" title="Edit this record"></a>
                  {{#if matchRole('admin')}}
                    <a class="glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteOrderItem(current.orderItems[j],j)" title="Delete this record"></a>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="{{3+tenant.orderItemFields.length}}">{{>currentOrderItemSect { id: current.orderItems[j].id }}}</td>
              </tr>
            {{/}}
          </tbody>
        </table>
      {{/if}}
    </form>
  </div>
</section>

