<section id="currentSect" style="display:none">
  <form class="inline-form form" id="currentForm">
    <h2 class="">
      <span contenteditable id="curName2" on-focus="editField('#curName2','current.name')" on-blur="updateField('#curName2','current.name')" value="{{current.name}}"></span>
      <span class="pull-right">
        <a class="clickable admin glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(current)" title="Delete this record"></a>
        {{#if tenant.stockItemActions!=undefined && tenant.stockItemActions.length>0 }}
          <span class="clickable dropdown" aria-hidden="true" title="Start Process">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="customActionBtn" role="button" aria-expanded="false">
              <a class="clickable glyphicon glyphicon-play dropdown" aria-hidden="true" title="Start Process"> <span class="caret"></a>
            </a>
            <ul class="omny-dropdown dropdown-menu" id="customActionMenu" role="menu">
              {{#each tenant.stockItemActions }}
                {{#name}}
                  <li onclick="ractive.startCustomAction('{{ref}}', '{{name}}', ractive.get('current'){{#url}}, '{{url}}'{{/url}})">{{name}}</li>
                {{else}}
                  <li class="divider"></li>
                {{/}}
              {{/each}}
            </ul>
          </span>
        {{/if}}
      </span>
    </h2>
    
    <div class="currentBody col-md-6 col-sm-12">
      <ul class="form edit-form">
        {{#tenant.show.stockCategory}}
	        <li>
	          <label class="">Category:</label>
	          <input class="typeahead form-control" placeholder="Start typing to filter options" id="curStockCategory" required value="{{current.stockCategory.name}}">
	          <p class="col-md-offset-4 hidden-sm hidden-xs help-block"></p>
	        </li>
	      {{/}}
        <li>
          <label class="">Type:</label>
          <input class="typeahead form-control" placeholder="Start typing to filter options" id="curStockType" required value="{{current.type}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block"></p>
        </li>
        <li>
          <label class="">Status:</label>
          <input class="form-control typeahead" placeholder="Start typing to filter options" id="curStatus" value="{{current.status}}"/>
          <p class="col-md-offset-4 help-block">Draft, Ready for review, Published etc.</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12">
      <ul class="form edit-form">
        <li>
          <label class="">Price:</label>
          <input class="form-control" id="curPrice" step="any" type="number" value="{{current.price}}">
        </li>
        <li>
          <label class="">Unit:</label>
          <input class="form-control" id="curUnit" value="{{current.unit}}">
        </li>
        <li>
          <label class="">Size:</label>
          <input class="form-control" id="curSize" type="number" value="{{current.size}}">
          <p class="col-md-offset-4 hidden-sm hidden-xs help-block"></p>
        </li>
      </ul>
    </div>

    <div class="currentBody col-md-12">
      <ul class="form edit-form">
        <li class="form-group">
          <label class="textarea col-md-2 col-sm-4">Description:</label>
          <textarea class="col-sm-10 col-sm-8" id="curDescription" rows="10" value="{{current.description}}"></textarea>
        </li>
      </ul>
    </div>

    {{#tenant.stockItemFields.length>0}}
      <div id="currentStockItemExtended" style="clear: both">
        {{>(tenant.id+'StockItemExtension')}}
      </div>  
    {{/}}
    
  </form>
  
  {{!>currentImageSect}}
    
</section>
