<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="stockItemsSect">
  <h2 class="navbar-top">
    {{>navbar}}
    <span class="pull-right">
      {{#if tenant.stockItemActions!=undefined && tenant.stockItemActions.length>0 }}
        <span class="clickable dropdown" aria-hidden="true" title="Start Process">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="customActionBtn" role="button" aria-expanded="false">
            <a class="clickable glyphicon glyphicon-play dropdown" aria-hidden="true" title="Start Process"> <span class="caret"></a>
          </a>
          <ul class="omny-dropdown dropdown-menu" id="customActionMenu" role="menu">
            {{#each tenant.stockItemActions }}
              {{#name}}
                <li onclick="ractive.startCustomAction('{{ref}}', '{{name}}', undefined{{#url}}, '{{url}}'{{/url}})">{{name}}</li>
              {{else}}
                <li class="divider"></li>
              {{/}}
            {{/each}}
          </ul>
        </span>
      {{/if}}
    </span>
  </h2>
  <table id="stockItemsTable" class="stockItems table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:name">Name<span class="sortable {{ sorted('name') }} glyphicon "></th>
        {{#tenant.show.stockCategory}}
          <th on-click="sort:stockCategoryName">Category<span class="sortable {{ sorted('stockCategoryName') }} glyphicon"></th>
        {{/}}
        {{#if stockTypes!=undefined}}
          <th on-click="type">Type<span class="sortable {{ sorted('type') }} glyphicon"></th>
        {{/if}}
        <th on-click="sort:status">Status<span class="sortable {{ sorted('status') }} glyphicon "></th>
        {{#tenant.show.stockPricing}}
          <th on-click="type">Unit Price<span class="sortable {{ sorted('unitPrice') }} glyphicon"></th>
        {{/}}
        <th on-click="sort:created">Created<span class="sortable {{ sorted('created') }} glyphicon"></th>
        <th class="" on-click="sort:lastUpdated">Last Updated<span class="sortable {{ sorted('lastUpdated') }} glyphicon"></span></th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(stockItems,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this) }}
          <tr data-href="{{selfRef}}">
            <td on-click="edit(this)">{{i+1}}</td>
            <td on-click="edit(this)">{{name}}</td>
            {{#tenant.show.stockCategory}}
              <td on-click="edit(this)">{{stockCategoryName}}</td>
            {{/}}
            {{#if stockTypes != undefined}}
              <td on-click="edit(this)">{{type}}</td>
            {{/if}}
            <td on-click="edit(this)">{{status}}</td>
            {{#tenant.show.stockPricing}}
              <td on-click="edit(this)">{{#price == 0}}P.O.A.{{else}}{{price}}{{/}}</td>
            {{/}}
            <td on-click="edit(this)">{{formatDate(created)}}</td>
            <td on-click="edit(this)">{{formatDate(lastUpdated)}}</td>
            <td class="col-actions">
              <a class="clickable glyphicon glyphicon-transfer" aria-hidden="true" on-click="mergeStockItems(this)" style="display:none;" title="Merge two records"></a>
              <a class="clickable admin glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this)" title="Delete this record"></a>
              <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" onclick="ractive.edit(this);ractive.toggleResults();" title="View or edit this stockItem"></a>
            </td>
          </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching record{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>