<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="stockCategoriesSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="stockCategoriesTable" class="stockCategories table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:name">Name<span class="sortable {{ sorted('name') }} glyphicon "></th>
        <th on-click="sort:status">Status<span class="sortable {{ sorted('status') }} glyphicon "></th>
        <th on-click="sort:created">Created<span class="sortable {{ sorted('created') }} glyphicon"></th>
        <th class="" on-click="sort:lastUpdated">Last Updated<span class="sortable {{ sorted('lastUpdated') }} glyphicon"></span></th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(stockCategories,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this) }}
          <tr data-href="{{selfRef}}">
            <td on-click="edit(this)">{{i+1}}</td>
            <td on-click="edit(this)">{{name}}</td>
            <td on-click="edit(this)">{{this.status}}</td>
            <td on-click="edit(this)">{{formatDate(created)}}</td>
            <td on-click="edit(this)">{{formatDate(lastUpdated)}}</td>
            <td class="col-actions">
              <a class="clickable glyphicon glyphicon-transfer" aria-hidden="true" on-click="mergeStockCategories(this)" style="display:none;" title="Merge two records"></a>
              <a class="clickable admin glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this)" title="Delete this record"></a>
              <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" onclick="ractive.edit(this);ractive.toggleResults();" title="View or edit this stockItem"></a>
            </td>
          </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching record{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>