<a id="stockCategoriesTableToggle" class="clickable glyphicon glyphicon-btn glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the stockItem table"></a>
<span>{{tenant.strings.stockCategories}}</span>
<a class="clickable glyphicon glyphicon-btn glyphicon-plus" aria-hidden="true" on-click="add()" title="Add a new stockItem"></a>
<a class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching stockCategories"></a>
<a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <a class="clickable glyphicon glyphicon-btn glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
  </a>
  <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
    <li on-click="filter:{idx:1}">Show All</li>
    <li class="divider"></li>
    <li onclick="ractive.search('updated>'+new Date(new Date().setDate(new Date().getDate() - 7)).toISOString().substring(0,10))">Recently updated</li>
  </ul>
</a>