<section id="userMail">
  <section>
    <div class="form-group">
      <label class="control-label required">Subject:</label>
      <input class="form-control" id="curMailSubject" placeholder="" required style="width:60%;" type="text" value="{{instanceToStart.processVariables.mailSubject}}"/>
      <p class="help-block">Write the email subject here, no data-merge is possible.</p>
    </div>
    <div class="form-group">
      <label class="control-label required">Body:</label>
      <textarea class="form-control" id="curMailBody" placeholder="" required style="width:60%;" rows="10" value="{{instanceToStart.processVariables.mailBody}}"></textarea>
      <p class="help-block">Write the body of your email here.</p>
    </div>
    <div class="form-group">
      <label class="control-label">Contact:</label>
      <input autocomplete="off" class="form-control" id="curContactDisplay" disabled readonly style="width:60%;" twoway="false" type="text" value="{{formatContactId(instanceToStart.processVariables.contactId)}}">
      <p class="help-block">The contact to address.</p>
    </div>
  </section>
  <section style="display:none">
    {{#if memoHtml}}
      <div>{{{memoHtml}}}</div>
    {{else}}
      <p>Generating...</p>
    {{/if}}
  </section>
</section>
<script src="/vsn/js/user-mail.js"></script>

