<h3 style="clear:both"><span>Financials</span></h3> 
<div id="currentAccountFinancials">
  <div class="col-md-12" style="margin-bottom:20px">
    <fieldset class="form-inline">
      <legend>Current Year</legend>
      <label class="col-md-offset-1 col-md-2">Financial Year:</label><input class="form-control year col-md-2" id="curCurrentFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['currentFinancialYear']}}"/>
      <label class="col-md-1">Turnover:</label><input class="form-control autoNumeric col-md-2" id="curCurrentTurnover" data-a-sign="£ "value="{{current.account.customFields['currentTurnover']}}"/>
      <label class="col-md-1">Profit:</label><input class="form-control autoNumeric col-md-2" id="curCurrentProfit" data-a-sign="£ "value="{{current.account.customFields['currentProfit']}}"/>
    </fieldset>
    <fieldset class="form-inline">
      <legend>Last Year</legend>
      <label class="col-md-offset-1 col-md-2">Financial Year:</label><input class="form-control year col-md-2" id="curLastFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['lastFinancialYear']}}"/>
      <label class="col-md-1">Turnover:</label><input class="form-control autoNumeric col-md-2" id="curLastTurnover" data-a-sign="£ "value="{{current.account.customFields['lastTurnover']}}"/>
      <label class="col-md-1">Profit:</label><input class="form-control autoNumeric col-md-2" id="curLastProfit" data-a-sign="£ "value="{{current.account.customFields['lastProfit']}}"/>
    </fieldset>
    <fieldset class="form-inline">
      <legend>Previous Year</legend>
      <label class="col-md-offset-1 col-md-2">Financial Year:</label><input class="form-control year col-md-2" id="curPreviousFinancialYear" pattern="[0-9]{4}" placeholder="yyyy" type="number" value="{{current.account.customFields['previousFinancialYear']}}"/>
      <label class="col-md-1">Turnover:</label><input class="form-control autoNumeric col-md-2" id="curPreviousTurnover" data-a-sign="£ "value="{{current.account.customFields['previousTurnover']}}"/>
      <label class="col-md-1">Profit:</label><input class="form-control autoNumeric col-md-2" id="curPreviousProfit" data-a-sign="£ "value="{{current.account.customFields['previousProfit']}}"/>
    </fieldset>
  </div>
</div>