<section id="contactsSect">
  <h2>
    <a id="contactsTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the contact table"></a>
    <span>Contacts</span>
    <a class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="add()" title="Add a new contact"></a>
    <a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
    <input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
    <a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching contacts"></a>
    <a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <a class="clickable glyphicon glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
      </a>
      <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
        <li on-click="filter:{idx:1}">Show All</li>
        <li on-click="filter:{idx:2,field: 'stage', operator: '!in', value: 'Cold,Complete'}">Show Active</li>
        <li class="divider"></li>
        {{#stages:i}}
          <li on-click="filter:{idx:{{4+i}},field: 'stage', value: '{{id}}'}">{{name}}</li>
        {{/stages}}
        <li class="divider"></li>
        {{#enquiryTypes:j}}
          <li on-click="filter:{idx:{{4+stages.length+j}},field: 'enquiryType', value: '{{id}}'}">{{name}}</li>
        {{/}}
        <li class="divider"></li>
        {{#accountTypes:k}}
          <li on-click="filter:{idx:{{4+stages.length+enquiryTypes.length+k}},field: 'accountType', value: '{{id}}'}">{{name}}</li>
        {{/accountTypes}}
      </ul>
    </a>

    <form id="upload" class="super-admin pull-right upload">
      <a class="glyphicon glyphicon-import pull-right" aria-hidden="true" on-click="upload('upload')" title="Import data from file"></a>
      <input type="file" class="form-control file pull-right" name="file" placeholder="Select file">
      <select class="form-control entity pull-right" name="entity">
        <option value="contacts">Contacts</option>
        <option value="accounts">Accounts</option>
        <option value="activities">Activities</option>
        <option value="notes">Notes</option>
      </select>
    </form>
  </h2>
  <table id="contactsTable" class="contacts table table-striped">
    <thead>
      <tr>
        <th></th>
        {{#tenant.show.merge}}
          <th><input class="checkbox" type="checkbox"/></th>
        {{/}}
        <th on-click="sort:fullName">Full Name<span class="sortable {{ sorted('fullName') }} glyphicon "></th>
        {{#tenant.show.account}}<th on-click="sort:accountName">Business Name<span class="sortable {{ sorted('accountName') }} glyphicon"></th>{{/}}
        <th on-click="sort:stage">Stage<span class="sortable {{ sorted('stage') }} glyphicon"></th>
        <th on-click="sort:enquiryType">Enquiry Type<span class="sortable {{ sorted('enquiryType') }} glyphicon"></th>
        <th on-click="sort:owner">Owned by<span class="sortable {{ sorted('owner') }} glyphicon"></th>
        <th on-click="sort:firstContact">First Contact<span class="sortable {{ sorted('firstContact') }} glyphicon"></th>
        <th class="" on-click="sort:lastUpdated">Last Updated<span class="sortable {{ sorted('lastUpdated') }} glyphicon"></span></th>
        <th>Tags</th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(contacts,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this) }}
          <tr data-href="{{selfRef}}">
            <td on-click="edit(this)">{{i+1}}</td>
            {{#tenant.show.merge}}
              <td><input class="checkbox" type="checkbox" on-change="selectMultiple(this)"/></td>
            {{/}}
            <td on-click="edit(this)">{{fullName}}</td>
            {{#tenant.show.account}}
              <td on-click="edit(this)">{{account == undefined ? accountName : account.name}}</td>
            {{/}}
            <td on-click="edit(this)">{{stage}}</td>
            <td on-click="edit(this)">{{enquiryType}}</td>
            <td on-click="edit(this)">{{{gravatar(owner)}}}</td>
            <td on-click="edit(this)">{{formatDate(firstContact)}}</td>
            <td on-click="edit(this)">{{formatDate(lastUpdated)}}</td>
            <td on-click="edit(this)">{{{formatTags(tags)}}}</td>
            <td class="col-actions">
              <a class="clickable glyphicon glyphicon-transfer" aria-hidden="true" on-click="mergeContacts(this)" style="display:none;" title="Merge two records"></a>
              <a class="clickable admin glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this)" title="Delete this record"></a>
              <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" onclick="ractive.edit(this);ractive.toggleResults();" title="View or edit this contact"></a>
            </td>
          </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching contact{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>