<section style="clear:both;">
  <h2>Summary</h2>
  <section id="funnelCriteriaSect">
    <div>
      <div class="col-sm-12 col-md-6">
        <ul class="form edit-form">
          <li class="form-group"><label class="col-md-4">Period:</label>
          <input class="typeahead form-control" disabled="disabled" id="rptPeriod" value="All time"></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <ul class="form edit-form">
          <li class="form-group">
            <label class="col-md-4">Sales Person:</label>
            <input class="typeahead form-control" disabled="disabled" id="rptPeriod" value="Whole team">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div style="clear:both;"></div>
  <section id="funnelResultSect" class="">
    <div class="col-md-offset-1" id="funnel"></div>
    <div class="col-md-1">&nbsp;</div>

    <div id="funnelResultLegend2">
      {{#report.stages['Cold']}}
        <label id="stageCold">Cold:</label>
        <span>{{report.stages['Cold']}}</span>
      {{/}}
      {{#report.stages['deleted']}}
        <label id="stageDeleted">Deleted:</label>
        <span>{{report.stages['deleted']}}</span>
      {{/}}
    </div>
  </section>
</section>
