<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>

<section id="funnelCriteriaSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
</section>

<section id="funnelResultSect" class="">
  <div class="col-md-offset-1" id="funnel"></div>
  <div class="col-md-1">&nbsp;</div>

  <div id="funnelResultLegend2">
    {{#report.stages['Cold']}}
      <label id="stageCold">Cold:</label>
      <span>{{report.stages['Cold']}}</span>
    {{/}}
    {{#report.stages['deleted']}}
      <label id="stageDeleted">Deleted:</label>
      <span>{{report.stages['deleted']}}</span>
    {{/}}
  </div>
</section>

<div style="clear:both;"></div>
<section id="funnelResultTableSect">
  {{#if tenant.features.accountView}}
    {{>accountListTable}}
  {{else}}
    {{>contactListTable}}
  {{/if}}
</section>
