<span>
  {{#tenant.strings.criteria}}{{tenant.strings.criteria}}{{else}}Criteria{{/}}
</span>
<!--a class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a-->
<input autocomplete="off" class="form-control criteria" list="owners" placeholder="Whole team" value="{{owner}}">
<!--a class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching contacts"></a-->
<input autocomplete="off" class="form-control criteria" list="periods" placeholder="Created any time" value="{{created}}"/>
<input autocomplete="off" class="form-control criteria" list="periods" placeholder="Updated any time" value="{{updated}}"/>
