<div class="col-md-12">
  <h2 class="form">
    <span>Prospect and Partner Info</span>
  </h2>
  <div class="col-md-12">
    {{#current.customFields['preMigration']}}
      <p class="bg-warning text-warning">This contact pre-dates the Omny Link system and has been migrated.</p>
    {{else}}
      <p class="bg-info text-info">This contact was created using the Omny Link system.</p>
    {{/}}
  </div>
  <div class="col-md-6">
    <ul class="form edit-form">
      <li><label class="col-md-5">Budget:</label>
      <input class="autoNumeric" data-a-sign="£ " id="curBudget" on-blur="console.error(''+this.value);ractive.save()" value="{{current.customFields['budget']}}"></li>
      <li><label class="col-md-5">Partner:</label>
      <input class="typeahead" id="curPartner" on-blur="console.error(''+this.value);ractive.save()" value="{{current.customFields['partner']}}"></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="form edit-form">
      <li><label class="col-md-5">Appointment Date:</label>
      <input class="datepickerdis" id="curAppointmentDate" on-blur="console.error(''+this.value);ractive.save()" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm//yyyy" value="{{current.customFields['appointmentDate']}}"></li>
      <li><label class="col-md-5">Appointment Time:</label>
      <input id="curAppointmentTime" on-blur="ractive.save()" pattern="[0-9]{2}:[0-9]{2}" placeholder="hh:mm" value="{{current.customFields['appointmentTime']}}"></li>
      <li><label class="col-md-5">Installation Date:</label>
      <input class="datepickerdis" id="curInstallationDate" on-blur="console.error(''+this.value);ractive.save()" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="dd/mm//yyyy" value="{{current.customFields['installationDate']}}"></li>
    </ul>
  </div>
</div>
