<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="memosSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="memosTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:name">Name<span class="sortable {{ sorted('name') }} glyphicon "></th>
        <!--th>Memo</th-->
        <th on-click="sort:owner">Owned by<span class="sortable {{ sorted('owner') }} glyphicon "></th>
        <th on-click="sort:status">Status<span class="sortable {{ sorted('status') }} glyphicon "></th>
        <th on-click="sort:created">Created<span class="sortable {{ sorted('created') }} glyphicon "></th>
        <th on-click="sort:lastUpdated">Last Updated<span class="sortable {{ sorted('lastUpdated') }} glyphicon "></th>        
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(memos,sortColumn,sortAsc):i}}
      {{# matchFilter(this) }}
        <tr data-href="{{links[rel=='self'].href}}" on-click="edit(i,this)">
          <td>{{i+1}}</td>
          <td>{{name}}</td>
          <td>{{status}}</td>
          <td>{{{hash(owner)}}}</td>
          <td>{{formatDate(created)}}</td>
          <td>{{formatDate(lastUpdated)}}</td>
          <td class="col-actions">
            <a class="clickable glyphicon glyphicon glyphicon-copy" aria-hidden="true" on-click="clone(this)" title="Clone this record"></a>
            <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="delete(this)" title="Delete this record"></a>
            <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" onclick="ractive.edit(this);ractive.toggleResults();" title="View or edit this memo"></a>
          </td>
        </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching memo{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>
