<!-- Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="helpModalLabel">Help for Distribution Centre</h4>
      </div>
      <div class="modal-body">
        <p>The distribution centre allows you to manage notifications across organisations and confirm they are acknowledged.</p>
        <h2>How can we help you today?</h2>
        <p>Common questions that people have include:
        <ul>
          <li>
            <h3 id="reuseDistribution">How can I use a previous distribution notification again?</h3>
            <p>In the list of distributions click <span class="glyphicon glyphicon-copy"></span> to duplicate an existing distribution notification</p>
          </li>
          <li>
            <h3 id="acknowledgements">How can I monitor acknowledgments of distribution notifications?</h3>
            <p>Once the distribution notification has been sent, a list of Activities will appear below the Distribution showing the individuals that have been contacted and whether they have each acknowledged the distribution or not.</p>
          </li>
          <li>...</li>
        </ul>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>