<div class="btn-group col-md-offset-4 col-sm-offset-4" role="group" aria-label="...">
  <a class="glyphicon kp-icon-twitter{{^current.twitter}} disabled{{/}}" {{#current.twitter}}href="https://twitter.com/{{current.twitter}}"{{else}}disabled {{/}} target="_newtab"></a>
  <a class="glyphicon glyphicon-pencil" onclick="ractive.showSocial('twitter')"></a>
</div>
<div class="btn-group" role="group" aria-label="...">
  <a class="glyphicon kp-icon-linkedin{{^current.linkedIn}} disabled{{/}}" {{#current.linkedIn}}href="{{current.linkedIn}}"{{else}}disabled {{/}} target="_newtab"></a>
  <a class="glyphicon glyphicon-pencil" onclick="ractive.showSocial('linkedIn')"></a>
</div>
<div class="btn-group" role="group" aria-label="...">
  <a class="glyphicon kp-icon-facebook{{^current.facebook}} disabled{{/}}" {{#current.facebook}}href="{{current.facebook}}"{{/}} target="_newtab"></a>
  <a class="glyphicon glyphicon-pencil" onclick="ractive.showSocial('facebook')"></a>
</div>           

<div class="modal fade" id="socialModalSect" tabindex="-1" role="dialog" aria-labelledby="socialModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      <h1 class="modal-title" id="socialModalLabel">Set {{network.toLabel()}} details</h1>
	    </div>
	    <div class="modal-body">
	      <form id="socialForm">
	        <label class="col-md-2 col-sm-4">{{network.toLabel()}}:</label>
	        <input class="col-md-10 col-sm-8 form-control" id="curBusiness{{network}}" type="url" value="{{current['network']}}"/>
	        <p class="col-md-offset-2 col-sm-offset-4 hidden-xs help-block">{{#network!='twitter'}}Remember to include https://{{/}}</p>
	      </form>
	    </div>
	    <div class="modal-footer">
	      <button id="cancelSocialForm" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	      <button id="submitSocialForm" type="button" class="btn btn-primary" onclick="ractive.submitSocial('{{network}}')">Set {{network.toLabel()}}</button>
      </div>
    </div>
  </div>
</div>
