/* FONTS */ 

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   .primary-green   #7ecc00;
 *   .secondary-green #4c631c; 
 *   .primary-grey    #363a3b;
 *   .secondary-grey  #2b2d2f;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #4c631c;
  font-family: Roboto/*CalibriRegular*/;
}
h1 { 
	color: #4c631c;
}
section h2 {
	border-bottom: solid 1px #7ecc00;
  color: #4c631c;
}
section h2 .search {
  border-color: #363a3b;
}
section h2 .entity {
  border-color: #363a3b;
}
section h2 .file {
  border-radius: 0;
  border-color: #363a3b;
}
.btn-default { 
  color: #2b2d2f;
}
a.glyphicon,
.glyphicon {
  color: #363a3b;
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;	
/* END BOOTSTRAP OVERRIDES */

.form label, .form input {
  top: -25px
}
