/* FONTS */ 

@font-face {
  font-family: 'barmenoregular';
  src: url('fonts/barmeno_regular-webfont.eot');
  src: url('fonts/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/barmeno_regular-webfont.woff') format('woff'),
       url('fonts/barmeno_regular-webfont.ttf') format('truetype'),
       url('fonts/barmeno_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri-webfont.eot');
    src: url('fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-webfont.woff') format('woff'),
         url('fonts/calibri-webfont.ttf') format('truetype'),
         url('fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriBold';
    src: url('fonts/calibrib-webfont.eot');
    src: url('fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrib-webfont.woff') format('woff'),
         url('fonts/calibrib-webfont.ttf') format('truetype'),
         url('fonts/calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriItalic';
    src: url('fonts/calibrii-webfont.eot');
    src: url('fonts/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrii-webfont.woff') format('woff'),
         url('fonts/calibrii-webfont.ttf') format('truetype'),
         url('fonts/calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   blue 1: 0379a1;
 *   blue 2: 2990b1;
 *   blue 3: 75bfe2
 *   blue 4: aedef6;
 *   grey (text): #444444;
 *   green:  #87a956;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #444444;
}
h1 { 
  color: #75bfe2;
  /*margin-bottom: 50px;*/
}
section h2 {
  background-color: #0379a1;
  border-bottom: solid 1px #75bfe2;
  color: #75bfe2;
}
section h2 .search {
  background-color: #aedef6;
  border-color: #75bfe2;
}
section h2 .entity {
  background-color: #aedef6;
  border-color: #75bfe2;
  width: 110px;
}
section h2 .file {
  background-color: #aedef6;
  border-color: #75bfe2;
  width: 110px;
}
section h2 .glyphicon-import {
  font-size: 18px;
  left: -2px;
  top: -3px;
}
.btn-default { 
  background-color:#87a956;
  color: #666666;   
}
a.glyphicon {
  color: #75bfe2;
}
#messages { 
  position: fixed;
  top: 45px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  z-index: 10;
}
.navbar-brand { 
  top: -13px;  
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;  
}
/* END BOOTSTRAP OVERRIDES */
.profile {
  background-color: #aedef6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;  
}
form.upload {
  padding-top: 4px;
}
form.upload .glyphicon {
  font-size: 20px;
}