/* FONTS */ 

@font-face {
  font-family: 'barmenoregular';
  src: url('fonts/barmeno_regular-webfont.eot');
  src: url('fonts/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/barmeno_regular-webfont.woff') format('woff'),
       url('fonts/barmeno_regular-webfont.ttf') format('truetype'),
       url('fonts/barmeno_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri-webfont.eot');
    src: url('fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-webfont.woff') format('woff'),
         url('fonts/calibri-webfont.ttf') format('truetype'),
         url('fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriBold';
    src: url('fonts/calibrib-webfont.eot');
    src: url('fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrib-webfont.woff') format('woff'),
         url('fonts/calibrib-webfont.ttf') format('truetype'),
         url('fonts/calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriItalic';
    src: url('fonts/calibrii-webfont.eot');
    src: url('fonts/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrii-webfont.woff') format('woff'),
         url('fonts/calibrii-webfont.ttf') format('truetype'),
         url('fonts/calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange: ff6c06;
 *   green:  a1cb3a;
 *   brown:  552e16;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #552e16;
  font-family: Roboto/*CalibriRegular*/;
  font-size: 16px;
  line-height: 2.5em;
}
h1 { 
	color: #a1cb3a;
}
h2 { 
	font-size: 24px;
}
input,select,textarea { 
	margin: 0 5px 0 5px;
	padding: 0 10px 0 10px;
}
input.field-error:invalid,
select.field-error:invalid,
textarea.field-error:invalid {
  border: solid 3px #f33;
}

input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  border: solid 3px #f33 ;
}

input ~ .field-hint,
select ~ .field-hint,
textarea ~ .field-hint {
  visibility: hidden ;
  line-height: 0em;
}

input:focus:invalid ~ .field-hint,
select:focus:invalid ~ .field-hint,
textarea:focus:invalid ~ .field-hint {
  color: #f33 ;
  visibility: visible ;
  line-height: 1.5em;
}
label.required::after {
  color: red;
  content: '*';
}
section h2 {
  border-bottom: solid 1px #ff6c06;
  color: #a1cb3a;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
section h2 .search {
  /*margin-bottom: 10px;*/
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #a1cb3a;
}
section h2 .glyphicon-search {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 20px;
  margin-left: 0px;
  position: relative;
  left: -8px;
  top: 1px;
}
section h2 .entity {
  /*margin-bottom: 10px;*/
  margin-right: 0;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px;
  border-color: #a1cb3a;
  padding-right: 0;
  margin-right: 0;
  width: 110px;
}
section h2 .file {
  /*margin-bottom: 10px;*/
  margin-right: 0;
  border-radius: 0;
  border-color: #a1cb3a;
  margin-left: 0;
  width: 110px;
}
section h2 .glyphicon-import {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	font-size: 18px;
	margin-left: 0px;
	position: relative;
	left: -2px;
	top: -3px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}
th { 
	font-weight: bold;
}
.admin { 
  display: none;
}
.ajax-loader {
  position: absolute;
  left: 45%;
  top: 300px;
  z-index: 200; 
}
.beta {
  border: solid 1px #ff6c06;
  color: #ff6c06;
  font-family: barmenoregular, sans-serif;
  font-style: italic;
  line-height: 1.1em;
  padding: 0;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 10px;
  width: 40px;  
}
.bg-danger { 
  padding: 0 10px 0 10px;
}
.btn-default { 
  background-color:#ff6c06;
  color: #666666; 	
}
.field-age { 
	width:15%
}
.field-author { 
  width:15%
}
.field-text { 
}
.glyphicon { 
	font-size: 20px;
  border: solid 1px;
  padding: 6px;
  margin: 3px;
  border-radius: 15px;
}
#messages { 
	padding-top: 20px;
}
.navbar-brand { 
	padding: 0;
  position: relative;
  top: -18px;  
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;	
}
.search {
	border-radius:15px;
	width:100px;
	display:inline;
	position:relative;
	bottom:5px;	
}
.text-danger { 
  font-style: italic;
}
/* END BOOTSTRAP OVERRIDES */

.clickable:hover {
	cursor: pointer; 
}
.form { 
	display: block;
	list-style: none;
}
.form li { 
	margin: 5px 0 5px;
}
.form label, .form input {
  display:inline-block;
  top: -25px
}

.form label {
	padding-right: 10px;
  text-align: right;
  vertical-align: top;
  width:150px;
}
.form input.create-form {
  padding-bottom: 2px;	
}
.form input.create-field { 
  border-width: 1px;
}
.form input.edit-field { 
  border-width: 1px;
}
.powered-by { 
  float: left;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  top: 290px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
.powered-by h1 {
  margin:0px;
}
.powered-by-text { 
	color:#6f6f71;
	font-size:14px;
	font-style:italic;
}