/* FONTS */ 

@font-face {
  font-family: 'barmenoregular';
  src: url('fonts/barmeno_regular-webfont.eot');
  src: url('fonts/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/barmeno_regular-webfont.woff') format('woff'),
       url('fonts/barmeno_regular-webfont.ttf') format('truetype'),
       url('fonts/barmenlo_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri-webfont.eot');
    src: url('fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibri-webfont.woff') format('woff'),
         url('fonts/calibri-webfont.ttf') format('truetype'),
         url('fonts/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriBold';
    src: url('fonts/calibrib-webfont.eot');
    src: url('fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrib-webfont.woff') format('woff'),
         url('fonts/calibrib-webfont.ttf') format('truetype'),
         url('fonts/calibrib-webfont.svg#CalibriBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CalibriItalic';
    src: url('fonts/calibrii-webfont.eot');
    src: url('fonts/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calibrii-webfont.woff') format('woff'),
         url('fonts/calibrii-webfont.ttf') format('truetype'),
         url('fonts/calibrii-webfont.svg#CalibriItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange: ff6c06;
 *   green:  a1cb3a;
 *   brown:  552e16;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #552e16;
  font-family: Roboto/*CalibriRegular*/;
}
h1 { 
	color: #a1cb3a;
}
section h2 {
  color: #a1cb3a;
}
section h2 .search {
  border-color: #a1cb3a;
}
section h2 .entity {
  border-color: #a1cb3a;
}
section h2 .file {
  border-radius: 0;
  border-color: #a1cb3a;
}
.btn-default { 
  color: #666666; 	
}
a.glyphicon {
  color: #a1cb3a;
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;	
/* END BOOTSTRAP OVERRIDES */

.form label, .form input {
  top: -25px
}
