/* FONTS */ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}
h4 {
	border-bottom: 3px double #00ade9;
}
h5 {
	border-bottom: 1px solid #00ade9;
	font-size:16px;
}
body {
 font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* END FONTS */

/* 
 * COLOURS
 *   blue:  00ade9
 *   green: 9fc63b
 *   purple: a7358c
 *   dark grey (text): #666
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #666;
}
h1 { 
  color: #a7358c;
  /*margin-bottom: 50px;*/
}
section h2 {
  border-bottom: solid 1px #00ade9;
  color: #a7358c;
}
section h2 .search {
  bottom: 3px;
  width: 40%;
}
section h2 .search,
section h2 .entity,
section h2 .file {
  /*background-color: #f9f9f9;*/
  border-color: #a7358c;
}
section h2 .file {
  border-radius: 0;
}
section h2 .glyphicon-search {
	margin-left: -1px;
  top: 2px;
}
section h2 .glyphicon-import {
  font-size: 18px;
  left: -2px;
  top: 5px;
}
section h3 {
  border-bottom: solid 1px #00ade9;
  color: #a7358c;
  padding: 5px 20px 5px 20px;
}
.glyphicon {
  color: #a7358c;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #00ade9;
  text-decoration: none;
}
.clickable:focus,
.clickable:hover,
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #9fc63b;
}
#messages { 
  position: fixed;
  top: 45px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  z-index: 10;
}
.navbar-brand { 
  top: -13px;  
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;  
}
/* END BOOTSTRAP OVERRIDES */
.profile {
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;  
}
form.upload {
  padding-top: 4px;
}
form.upload .glyphicon {
  font-size: 20px;
}

.omny-bar {
  background-color: #f9f9f9;
  color: #00ade9;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  background-color: #a7358c;
  color: #f9f9f9;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
	color: #a7358c;
  border-bottom-color: #a7358c;
}