/* FONTS */ 

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Georgia, "Times New Roman", Times, serif'; /* Offer Roboto / Open Sans? */
}
h4 {
	border-bottom: 3px double #009FC3;
}
h5 {
	border-bottom: 1px solid #009FC3;
	font-size:16px;
}
body {
 /* font-family: 'Open Sans'; */
 font-family: Arial, Helvetica, sans-serif;
}

/* END FONTS */

/* 
 * COLOURS 
 *   blue: 009FC3;
 *   teal: 00788A
 *   grey (text): #333;
 *   pale blue:  #55A4D8;
 *   yellow: #E0B54F
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #333;
}
h1 { 
  color: #00788A;
  /*margin-bottom: 50px;*/
}
section h2 {
  border-bottom: solid 1px #00788A;
  color: #009FC3;
}
section h2 .search {
  bottom: 3px;
  width: 40%;
}
section h2 .search,
section h2 .entity,
section h2 .file {
  background-color: #efefef;
  border-color: #00788A;
}
section h2 .file {
  border-radius: 0;
}
section h2 .glyphicon-search {
	margin-left: -1px;
  top: 2px;
}
section h2 .glyphicon-import {
  font-size: 18px;
  left: -2px;
  top: 5px;
}
section h3 {
  border-bottom: solid 1px #009FC3;
  color: #009FC3;
  padding: 5px 20px 5px 20px;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #55A4D8;
  text-decoration: none;
}
.clickable:focus,
.clickable:hover,
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #E0B54F;
}
.navbar-brand { 
  top: -13px;  
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;  
}
/* END BOOTSTRAP OVERRIDES */
.profile {
  background-color: #efefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;  
}
form.upload {
  padding-top: 4px;
}
form.upload .glyphicon {
  font-size: 20px;
}

.omny-bar {
  color: #55A4D8;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  background-color: #55A4D8;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
  border-bottom-color: #55A4D8;
}