/* FONTS */ 

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   pink:    D33E62;
 *   blue:    00ADDC;
 *   charcoal:333;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #333;
}
.container h1 { 
	background-color: #333;
  margin: 0;
  padding: 30px 30px 10px 10px;
  color: #efefef;
}
.powered-by h1 { 
	background-color: #fff;
}
.container h1 span {
  margin-left: 20px;
}
section h2 {
	border-bottom: solid 1px #D33E62;
  color: #333;
}
section h2 .search {
  border-color: #00ADDC;
}
section h2 .entity {
  border-color: #00ADDC;
}
section h2 .file {
  border-radius: 0;
  border-color: #00ADDC;
}
section h3 {
  border-bottom-color: #D33E62;
}
.btn-default { 
  color: #666666; 	
}
.glyphicon {
  color: #00ADDC;
}
a.glyphicon:focus, a.glyphicon:hover, h2 a.glyphicon:focus, h2 a.glyphicon:hover {
  color: #D33E62;
}
.navbar-brand img {
  height: 53px;
  width: 157px;	
}
.powered-by {
  left: -30px;
  top: 305px;
}
/* END BOOTSTRAP OVERRIDES */

.omny-bar {
	background-color: #efefef;
	color: #D33E62 ;
}
.omny-bar li span {
  border-bottom: solid 1px #D33E62;
}
.omny-bar li span:not(.active) {
  border-bottom-color: #D33E62;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  color: #efefef;
  background-color: #D33E62;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
  border-bottom: solid 1px #D33E62;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.omny-burger span.glyphicon,
.omny-burger span.glyphicon:visited {
  color: #00ADDC;
}
.omny-burger span.glyphicon:hover,
.omny-burger span.glyphicon:active {
	color: #D33E62;
}
.replaceable {
	color: #efefef;
}