/* FONTS */ 

@import url(http://fonts.googleapis.com/css?family=Cinzel);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

h1, h2, h3, h4, h5, h6, legend {
 font-family: 'Cinzel', serif;
}

/* END FONTS */

/* 
 * COLOURS 
 *   beige: C2C2A3
 *   brown: 726C58
 *   grey:  C2C2B3
 *   grey 2: #969696
 *   green:  #9EDA62
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #969696;
  font-family: 'Source Sans Pro';
}
h1 { 
	color: #726C58;
}
section h2 {
	border-bottom: solid 5px #726C58;
  color: #726C58;
}
section h2 .search {
  bottom: 5px;
  width: 40%;
}
section h2 .search,
section h2 .entity,
section h2 .file {
	border-color: #726C58;
}
section h2 .file {
  border-radius: 0;
}
section h2 .glyphicon-search {
  top: 1px;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #C2C2A3
 /**   brown: 726C58*/;
  text-decoration: none;
}
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #9EDA62;
}
.navbar-brand img {
  height: 53px;
  padding-right: 20px;	
/* END BOOTSTRAP OVERRIDES */

.form label, .form input {
  top: -25px
}
