/* FONTS */ 

h1, h2, h3, h4, h5, h6 {
 font-family: sans-serif;
}

/* END FONTS */

/*
 * COLOURS
 *
 * red (logo) #d71921
 * red (button): #9f0007
 * grey: #e0e0e0
 * dark grey: #3d4a4f
 * near black: #141412
 * green: #15982e
 */

body {
  color: #141412;
}
h1 { 
  color: #d71921;
}
section h2 {
  background-color: #3d4a4f;
  border-bottom: solid 1px #fff;
  color: #fff;
}
section h2 .search {
  bottom: 3px;
  width: 40%;
}
section h2 .search,
section h2 .entity,
section h2 .file {
  background-color: #efefef;
  border-color: #fff;
}
section h2 a.glyphicon:hover,
section h2 a.glyphicon:focus,
section h2 .glyphicon:hover,
section h2 .glyphicon:focus {
  color: #d71921;
}
a.glyphicon,
a.glyphicon:visited,
.glyphicon,
.glyphicon:visited {
  color: #d71921;
}
a.glyphicon:hover,
a.glyphicon:focus,
.glyphicon:hover,
.glyphicon:focus {
  color: #15982e;
}
.navbar-brand img {
  height: 70px;
}
/* END BOOTSTRAP OVERRIDES */

.omny-bar {
    color: #d71921;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  color: #fcf8e3;
  background-color: #d71921;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover) {
  border-bottom-color: #d71921;
}