/* FONTS */ 
@import url(https://fonts.googleapis.com/css?family=Dosis);

h1, h2, h3, h4, h5, h6 {
  font-family: Dosis, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
h4 {
	border-bottom: 3px double #C98012;
}
h5 {
	border-bottom: 1px solid #C98012;
	font-size:16px;
}
body {
 font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange: rgb(246,75,22)
 *   burnt orange: #C98012
 *   green: #649A27
 *   blue: #3898BF
 *   brown: 8f5a16
 *   grey (body text): #3F3F3F;
 */
 
 

/* START BOOTSTRAP OVERRIDES */

body {
  color: #3F3F3F;
}
h1 { 
  color: #3898BF;
  /*margin-bottom: 50px;*/
}
section h2 {
  border-bottom: solid 1px #C98012;
  color: #3898BF;
}
section h2 .search {
  bottom: 3px;
  width: 40%;
}
section h2 .search,
section h2 .entity,
section h2 .file {
  background-color: #efefef;
  border-color: #3898BF;
}
section h2 .file {
  border-radius: 0;
}
section h2 .glyphicon-search {
	margin-left: -1px;
  top: 2px;
}
section h2 .glyphicon-import {
  font-size: 18px;
  left: -2px;
  top: 5px;
}
section h3 {
  border-bottom: solid 1px #C98012;
  color: #649A27;
  padding: 5px 20px 5px 20px;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #649A27;
  text-decoration: none;
}
.clickable:focus,
.clickable:hover,
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #C98012;
}
#messages { 
  position: fixed;
  top: 45px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  z-index: 10;
}
.navbar-brand { 
  top: -13px;  
}
.navbar-brand img {
  height: 53px;
  background-color: #C98012;
  height: 53px;
  padding: 5px;
  margin-right: 15px;
}
/* END BOOTSTRAP OVERRIDES */
.profile {
  background-color: #efefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 20px;  
}
form.upload {
  padding-top: 4px;
}
form.upload .glyphicon {
  font-size: 20px;
}

.omny-bar {
  color: #649A27;
}
.omny-bar li span.glyphicon.active {
  background-color: #649A27;
}
.omny-bar li span:not(.active) {
  border-bottom-color: #649A27;
}